<h2>Лад</h2>
<p>Сначала разберёмся с понятием «<strong>лад</strong>» (от латинского modus – &nbsp;мера, способ).</p>
<p><strong>Лад </strong>и<strong> интервал</strong> – две взаимосвязанные и важнейшие категории музыкального мышления, где лад – это система определённой логической организации тонов и полутонов, а интервал – наименьшая интонационная ячейка лада. Для формирования музыкального слуха значение лада, как основы музыкальной логики, неоспоримо.</p>
<p>Итак, <strong>лад</strong> – это ограниченная звуковысотная система, с определённым интервальным строением, на основе которой создаётся музыка. Каждый звук лада называется ступенью. Ступени лада делятся на устойчивые и неустойчивыми.</p>
<p><strong><u>Например</u></strong>, звукоряд ионийского и мажорного лада: тон – тон – полутон – тон – тон – тон – полутон (о тонах и полутонах мы говорили в разделе «Интервалы»).</p>
<p><strong><u>Например</u></strong>, устойчивыми ступенями считается первая ступень, а также третья и пятая. Ступени лада, в свою очередь, традиционно обозначаются римскими цифрами I – III – V (устойчивые ступени лада), II – IV – VI – VII (неустойчивые ступени лада). </p>
<p><strong><u>Примечание:</u></strong> Поступенно восходящее или нисходящее мелодическое движение звукоряда лада в пределах не менее октавы называется <strong>гамма</strong>.</p>
<p>В профессиональной европейской музыке сложилась система семиступенных ладов. Скорее всего это связано с оптимальным объёмом оперативной памяти человека. Однако, в фольклорной музыке встречаются дихорды (лад из двух ступеней), трихорды (из трёх ступеней), тетрахорды (из четырёх ступеней), пентахорды или пентатоники (из пяти ступеней) etc. И звукоряды ладов, и правила поведения их ступеней исторически сложились в музыкальной практике.</p>
<p>Для выразительности ладов большое значение имеет величина терции от первой ступени. Поэтому различают, например, мажорный и минорный лад, пентатонику мажорного или минорного наклонения и окраса.</p>
<p>Рис. 1 Мажорная пентатоника – между первой и третьей ступенью (до-ми)– большая терция (б.3).</p>
<p>Рис. 2 Минорная пентатоника – между первой и третьей ступенью (до-ми-бемоль) – малая терция (м.3).</p>
<p><strong><u>Примечание:</u></strong> <strong>Мажор</strong> (от французского majeur и итальянского maggiore – больший, также dur от латинского durus – твёрдый) – натуральный лад, звукоряд которого в восходящем движении имеет структуру тон – тон – полутон – тон – тон – тон – полутон.</p>
<p><strong>Минор</strong> (от итальянского minore – меньший, от латинского moll — мягкий) – натуральный лад, звукоряд которого в восходящем движении имеет структуру тон – полутон – тон – тон – полутон – тон – тон.</p>
<p>Рассмотрим <strong>диатонические лады</strong>, которые можно построить от белых клавиш. Как мы знаем, расстояние между белыми клавишами разное, поэтому от каждой ноты будет строиться лад с особым ему тоновым строением, таким образом мы получим семь разных ладов: <strong>дорийский, фригийский, лидийский, миксолидийский, ионийский, эолийский, локрийский </strong>(названия заимствованы из древнегреческой музыки).</p>
<p>Рис. 3 Ионийский лад (совпадает по строению с мажорным ладом)</p>
<p>Рис. 4 Дорийский лад (так как терция ре-фа малая (м.3), то это лад минорного наклонения).</p>
<p>Рис. 5 Фригийский лад (минорное наклонение).</p>
<p>Рис. 6 Лидийский лад (мажорное наклонение).</p>
<p>Рис. 7 Миксолидийский лад (мажорное наклонение).</p>
<p>Рис. 8 Эолийский лад (совпадает по строению с минорным ладом).</p>
<p>Рис. 9 Локрийский лад (минорное наклонение).</p>
<p>Любой лад, зная его тоновое строение, можно построить от любой ноты.</p>
<p><strong><u>Например,</u></strong> чтобы построить миксолидийский лад от ноты ми, нужно построить мажорный лад с пониженной седьмой ступенью. А чтобы построить фригийский лад от ноты до, нужно построить минорный лад с пониженной второй ступенью.</p>
<p>Рис.11 Фригийский лад от ноты до (минорный лад с пониженной второй ступенью).</p>
<table class="table lad__table-1">
  <tbody>
    <tr><td><strong>Название лада</strong></td><td><strong>Как построить</strong></td></tr>
    <tr><td>Ионийский лад</td><td>Мажорный лад</td></tr>
    <tr><td>Дорийский лад</td><td>Минорный лад с высокой IV ступенью</td></tr>
    <tr><td>Фригийский лад</td><td>Минорный лад с низкой II ступенью</td></tr>
    <tr><td>Лидийский лад</td><td>Мажорный лад с низкой IV ступенью</td></tr>
    <tr><td>Миксолидийский лад</td><td>Мажорный лад с низкой VII ступенью</td></tr><tr><td>Эолийский лад</td><td>Минорный лад</td></tr><tr><td>Локрийский лад</td><td>Минорный лад с низкой II и V ступенью</td></tr><tr><td>Фригийский мажорный лад (типичен для фламенко)</td><td>Фригийский лад с низкой II, но высокой III ступенью</td></tr><tr><td>Цыганский (или венгерский) лад</td><td>Мажорный лад с низкой II и VI ступенью. Минорный лад с высокой IV и VII ступенью</td>
    </tr>
  </tbody>
</table>
<p>Историческая эволюция ладовых систем от эпохи классицизма к XX веку шла по линии обогащения звукового состава лада. В связи с этим усложняются и задачи по развитию слуха в движении от классического мажора-минора через единую одноименную мажорно-минорную систему, семиступенные диатонические лады и ладовую переменность (сочетание мажора и минора) к сложным ладовым структурам в музыке XX века. К примеру, «симметричные лады» — целотонная гамма, гамма тон-полутон или полутон-тон etc.</p>
<p>На основе лада строится не только мелодика, но и гармония. Причём лад и гармония оказывают друг на друга существенное воздействие. Например, лад изменяет интервальное строение аккордов.</p>
<p>В разделе упражнений «Гаммы» Вы найдёте огромную библиотеку ладовых структур (Сборник ладов) разных эпох и стран.</p>
<p>В эпоху Возрождения лад с таким звукорядом назывался Ионийским. Он имел две опорные ступени – первую и пятую, они чаще других встречались в мелодии. Остальные ступени инертные. После любой ступени может появиться любая ступень. В XVII веке ступени этого же звукоряда разделились на три устойчивые и четыре неустойчивые. Новый лад получил название Мажора. Мелодии и многоголосие в ионийском и мажорном ладах заметно различаются по выразительности.</p>