<h2>Rhythms</h2>
<p>Music is made up of three elements: melody, harmony and rhythm. We have already learned quite a lot about melody and
  harmony (scales, chords). Now let's get to the rhythm.</p>
<p><strong>Rhythm is a sequence of uniform or uneven pulsations.</strong></p>
<p>Rhythm gives order to music, movement. Rhythm is something you can dance to or nod your head to.</p>
<p>We will begin our study of rhythm with some basic concepts.</p>
<ul>
  <li><strong>Share</strong> - imagine a clock ticking every second, i.e. ticking 60 times per minute. Each tick is a
    share. When time is divided into equal intervals - each of them share. Thus, the beat is the basic unit of time. The
    beats are strong and weak. Strong beat - a beat on which the emphasis is placed in music to give rhythmic pulsation.
  </li>
  <li><strong>Meter</strong> is a sequence of strong and weak beats in a piece. A meter can be thought of as a ruler
    dividing time into equal intervals, which consist of even smaller intervals.</li>
  <li><strong>Tempo</strong> - the speed of alternation of beats. Tempo often refers to the speed at which a piece is
    played.</li>
  <li><strong>Note Duration</strong> - indicates the duration of the note.</li>
  <li><strong>Pause</strong> - silence in the melody. Pauses, like notes, have a duration. This means that every time
    you see a pause sign, you must stop for the duration of that pause.</li>
</ul>
<h2>Note Values</h2>
<p>Depending on the duration, each note has a name. We will present the 5 most common durations.</p>
<h3>Whole note</h3>
<p>Whole - the longest note of all. In 4/4 time, it occupies all the beats.</p>
<h3>Half</h3>
<p>This duration, as you might guess, is equal to half a whole note. In 4/4 time, this note takes 2 beats.</p>
<h3>Quarter note</h3>
<p>A quarter is 4 times shorter than a whole note and 2 times shorter than a half note. In 4/4 time, such a note sounds
  exactly one beat.</p>
<h3>Eighth</h3>
<p>Eighth - half a quarter, occupies one half of the beat in 4/4. Two or more eighth notes can be combined with edges
</p>
<h3>Sixteenth</h3>
<p>The sixteenth note is 16 times shorter than the whole note and is a quarter of a beat in 4/4.</p>
<p>Below is a tree showing how notes are divided according to duration.</p>
<p>As well as a table showing durations and their corresponding symbols.</p>
<h2>Time Signature</h2>
<p>Time signature is a value used in music to indicate the number of beats per bar and the value of each beat. The size
  is recorded at the beginning of the work.</p>
<p>Here the size is 4/4. There are many other sizes: 3/4, 6/8, etc. However, 4/4 is perhaps the most common.</p>
<p>The number at the top indicates the number of beats per measure. In our example, there are 4. If the time signature
  were 6/8, there would be 6 beats in each measure.</p>
<p>The number at the bottom indicates the length of each beat. If, for example, it is equal to 4, this means that each
  beat is equal in duration to a quarter note. If it is equal to, for example, 8, the share is equal to the eighth note.
</p>
<p>This concludes our discussion of rhythm.</p>