<h2>Intervals</h2>
<p>Intervals are a fundamental unit in music and an integral part of melody and chord.According to Boris Asafiev,
  "each interval is achieved (recognized) by ear, and the melody, in essence, is the identification of intervals"</p>
<p><strong>An interval</strong> (from the Latin intervallum - interval, distance) is the ratio of two sounds in
  height.</p>
<p>Two interval sounds can sound <strong>simultaneously</strong> or <strong>sequentially</strong> , in which case the
  interval will be <strong>melodic</strong> (successively) or <strong>harmonic</strong> (simultaneously).</p>
<p>The interval has a <strong>base</strong> - a lower sound, and <strong>a top</strong> - an upper sound.</p>
<p>For example, an ascending melodic do-mi interval moves from top to bottom.</p>
<div class="theory_ris">
  <p>Fig.1 Ascending melodic interval do-mi (major third).</p>
  <p><img src="assets/img/theory/interval-1.jpg" alt="Picture 1"></p>
</div>
<div class="theory_ris">
  <p>Fig.2 Ascending melodic interval C-E-flat (small third).</p>
  <p><img src="assets/img/theory/interval-2.jpg" alt="Figure 2"></p>
</div>
<div class="theory_ris">
  <p>Fig.3 Ascending melodic do-fa interval (pure fourth).</p>
  <p><img src="assets/img/theory/interval-3.jpg" alt="Figure 3"></p>
</div>
<div class="theory_ris">
  <p>Fig.4 Ascending melodic interval do-sol (pure fifth).</p>
  <p><img src="assets/img/theory/interval-4.jpg" alt="Figure 4"></p>
</div>
<div class="theory_ris">
  <p>The melodic interval can be ascending (from the base to the top) or descending (from the top to the base).</p>
  <p>Harmonic intervals are always read from bottom to top.</p>
  <p>Fig.5 Harmonic interval do-mi (major third).</p>
  <p><img src="assets/img/theory/interval-5.jpg" alt="Figure 5"></p>
</div>
<div class="theory_ris">
  <p>Fig.6 C-E flat harmonic interval (minor third).</p>
  <p><img src="assets/img/theory/interval-6.jpg" alt="Figure 6"></p>
</div>
<div class="theory_ris">
  <p>Fig.7 Harmonic interval do-fa (pure fourth).</p>
  <p><img src="assets/img/theory/interval-7.jpg" alt="Figure 7"></p>
</div>
<div class="theory_ris">
  <p>Fig.8 Harmonic interval do-sol (pure fifth).</p>
  <p><img src="assets/img/theory/interval-8.jpg" alt="Figure 8"></p>
</div>
<h2><strong>Interval classification</strong></h2>
<p>Intervals are classified by <strong>quantitative</strong> (step) and <strong>qualitative</strong> (tone) value.</p>
<p><strong>Quantitative</strong> (step) <strong>value</strong> - the number of main steps of the scale
  (do-re-mi-fa-sol-la-si) from the base to the top inclusive.</p>
<p>The quantitative value determines the <strong>name</strong> of the interval, which is a Latin ordinal number
  corresponding to the number of steps in the interval.</p>
<p>For example, the number of steps in the interval in Fig.3 and Fig.7 is equal to four (do-re-mi-fa from bottom to
  top) - this interval will be called a quart (from Latin quartus - fourth), and in Fig.1, 2, 5, 6 - three (do-re-mi
  and do-re-mi-flat) - this is a third (from Latin tertius - third).</p>
<h2><strong>Names of intervals by quantitative (step) value</strong></h2>
<table class="table interval__table-1">
  <tbody>
    <tr>
      <td>Prima (or unison)</td>
      <td>
        <h4>The first</h4>
      </td>
      <td>1 (sounding one sound twice)</td>
    </tr>
    <tr>
      <td>Second</td>
      <td>Second</td>
      <td>2 (two adjacent steps)</td>
    </tr>
    <tr>
      <td>Third</td>
      <td>Third</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Quart</td>
      <td>Fourth</td>
      <td>four</td>
    </tr>
    <tr>
      <td>Quint</td>
      <td>Fifth</td>
      <td>5</td>
    </tr>
    <tr>
      <td>Sixth</td>
      <td>Sixth</td>
      <td>6</td>
    </tr>
    <tr>
      <td>Seventh</td>
      <td>Seventh</td>
      <td>7</td>
    </tr>
    <tr>
      <td>Octave</td>
      <td>Eighth</td>
      <td>eight</td>
    </tr>
    <tr>
      <td>Nona</td>
      <td>Ninth</td>
      <td>9</td>
    </tr>
    <tr>
      <td>Decima</td>
      <td>Tenth</td>
      <td>ten</td>
    </tr>
    <tr>
      <td>Undecima</td>
      <td>Eleventh</td>
      <td>eleven</td>
    </tr>
    <tr>
      <td>duodecyma</td>
      <td>Twelfth</td>
      <td>12</td>
    </tr>
    <tr>
      <td>Terzdecima</td>
      <td>Thirteenth</td>
      <td>13</td>
    </tr>
    <tr>
      <td>Quartdecima</td>
      <td>Fourteenth</td>
      <td>fourteen</td>
    </tr>
    <tr>
      <td>Quintdecima</td>
      <td>Fifteenth</td>
      <td>fifteen</td>
    </tr>
  </tbody>
</table>
<p>Intervals within an octave inclusive are called <strong>simple</strong> , and wider than an octave -
  <strong>compound</strong> .
</p>
<p><strong>For example,</strong> in Fig.1-8 - simple intervals, and in Fig.1-8.9 - composite interval.</p>
<p>Fig.3 Harmonic composite interval re-fa - decima (third through an octave).</p>
<p><strong>Qualitative</strong> (tone) <strong>value </strong> <strong>-</strong> the number of semitones (or tones)
  between the base and top of the interval.</p>
<p><strong>Note: </strong> <strong>A semitone</strong> is the smallest distance between two nearest tones of different
  pitches.</p>
<p>Fig.10 Rising melodic second G-A-flat (semitone).</p>
<p><strong>For example,</strong> the number of semitones in the interval in Fig.3, 7 (quart) is equal to five
  semitones (or two and a half tones), and in Fig.1, 5 (major third) - four semitones (or two tones), in Fig.2, 6
  (small third) – three semitones (one and a half tones), in Fig.4, 8 (pure fifth) - seven semitones (three and a half
  tones).</p>
<p>The qualitative value determines <strong>the quality</strong> (type) of the interval and divides the intervals into
  <strong>pure, small, large, reduced, increased.</strong>
</p>
<p><strong>For example,</strong> in Fig.3, 7 - pure quart, in Fig.2, 6 – minor third, in Fig.1, 5 major third, in
  Fig.4, 8 - pure fifth.</p>
<p>Prims, fourths, fifths and octaves are pure intervals.If they sound in a harmonic form, then they can be determined
  by the nature of the sound (phonism) - these are <strong>perfect consonances</strong> .</p>
<p>Seconds, thirds, sixths and sevenths are large and small, depending on the qualitative (tone) value.Harmonic
  seconds and sevenths are <strong>dissonances</strong> , and thirds and sixths are <strong>imperfect
    consonances</strong> .</p>
<p>Any interval can become decreased (except unison) and increased.As part of our exercises, we will use only the
  diminished fifth and duodecime, as well as the augmented fourth and undecima.Augmented fourth and diminished fifth
  are also called <strong>tritones</strong> (because they contain three tones).</p>
<p><strong>Note: </strong> <strong>Consonance</strong> (from the French consonance - consonant sound).Consonant
  consonance is psychologically perceived as harmonious, soft, calm.There are perfect and imperfect consonances.</p>
<p><strong>Dissonance</strong> (from the French dissonance - discordant sound).Dissonance is psychologically perceived
  by the ear as disharmonious, tense, restless.</p>
<h2><strong>Interval table</strong></h2>
<table class="table interval__table-2">
  <tbody>
    <tr>
      <td><strong>The name of the interval </strong> <strong>by quantitative (step) value</strong></td>
      <td><strong>Abbr.title</strong></td>
      <td><strong>Qualitative (tone) value</strong></td>
      <td><strong>Phonism sound character</strong></td>
    </tr>
    <tr>
      <td>
        <strong>Simple intervals</strong>
      </td>
    </tr>
    <tr>
      <td>Pure prima (unison)</td>
      <td>part 1</td>
      <td>0 semitones</td>
      <td>perfect consonance</td>
    </tr>
    <tr>
      <td>minor second</td>
      <td>m.2</td>
      <td>1 semitone (0.5 tone)</td>
      <td>dissonance</td>
    </tr>
    <tr>
      <td>Major second</td>
      <td>b.2</td>
      <td>2 semitones (1 tone)</td>
      <td>dissonance</td>
    </tr>
    <tr>
      <td>Minor third</td>
      <td>m.3</td>
      <td>3 semitones (1.5 tones)</td>
      <td>imperfect consonance</td>
    </tr>
    <tr>
      <td>Major third</td>
      <td>b.3</td>
      <td>4 semitones (2 tones)</td>
      <td>imperfect consonance</td>
    </tr>
    <tr>
      <td>Pure quart</td>
      <td>part 4</td>
      <td>5 semitones (2.5 tones)</td>
      <td>perfect consonance</td>
    </tr>
    <tr>
      <td>Augmented fourth (tritone)</td>
      <td>SW.4</td>
      <td>6 semitones (3 tones)</td>
      <td>dissonance</td>
    </tr>
    <tr>
      <td>Decreased fifth (tritone)</td>
      <td>mind.5</td>
      <td>6 semitones (3 tones)</td>
      <td>dissonance</td>
    </tr>
    <tr>
      <td>Perfect fifth</td>
      <td>part 5</td>
      <td>7 semitones (3.5 tones)</td>
      <td>perfect consonance</td>
    </tr>
    <tr>
      <td>Minor sixth</td>
      <td>m.6</td>
      <td>8 semitones (4 tones)</td>
      <td>imperfect consonance</td>
    </tr>
    <tr>
      <td>Major sixth</td>
      <td>b.6</td>
      <td>9 semitones (4.5 tones)</td>
      <td>imperfect consonance</td>
    </tr>
    <tr>
      <td>Minor seventh</td>
      <td>m.7</td>
      <td>10 semitones (5 tones)</td>
      <td>dissonance</td>
    </tr>
    <tr>
      <td>Great seventh</td>
      <td>b.7</td>
      <td>11 semitones (5.5 tones)</td>
      <td>dissonance</td>
    </tr>
    <tr>
      <td>Pure octave</td>
      <td>part 8</td>
      <td>12 semitones (6 tones)</td>
      <td>perfect consonance</td>
    </tr>
    <tr>
      <td><strong>Compound intervals</strong>
      </td>
    </tr>
    <tr>
      <td>Small nona</td>
      <td>m.9
        <p>(part 8+m.2)</p>
      </td>
      <td>13 semitones (6.5 tones)</td>
      <td>dissonance</td>
    </tr>
    <tr>
      <td>big nona</td>
      <td>b.9
        <p>(part 8+b.2)</p>
      </td>
      <td>14 semitones (7 tones)</td>
      <td>dissonance</td>
    </tr>
    <tr>
      <td>Minor decima</td>
      <td>m.10
        <p>(part 8+m.3)</p>
      </td>
      <td>15 semitones (7.5 tones)</td>
      <td>imperfect consonance</td>
    </tr>
    <tr>
      <td>Major decima</td>
      <td>b.10
        <p>(part 8+b.3)</p>
      </td>
      <td>16 semitones (8 tones)</td>
      <td>imperfect consonance</td>
    </tr>
    <tr>
      <td>pure undecima</td>
      <td>part 11
        <p>(part 8+part 4)</p>
      </td>
      <td>17 semitones (8.5 tones)</td>
      <td>perfect consonance</td>
    </tr>
    <tr>
      <td>Enlarged undecima</td>
      <td>SW.11
        <p>(part 8+up.4)</p>
      </td>
      <td>18 semitones (9 tones)</td>
      <td>dissonance</td>
    </tr>
    <tr>
      <td>Reduced duodecima</td>
      <td>mind.12
        <p>(part 8+d.5)</p>
      </td>
      <td>18 semitones (9 tones)</td>
      <td>dissonance</td>
    </tr>
    <tr>
      <td>Pure duodecyma</td>
      <td>part 12
        <p>(part 8+part 5)</p>
      </td>
      <td>19 semitones (9.5 tones)</td>
      <td>perfect consonance</td>
    </tr>
    <tr>
      <td>Minor terdecima</td>
      <td>m.13
        <p>(part 8+m.6)</p>
      </td>
      <td>20 semitones (10 tones)</td>
      <td>imperfect consonance</td>
    </tr>
    <tr>
      <td>Major terdecima</td>
      <td>b.13
        <p>(part 8+b.6)</p>
      </td>
      <td>21 semitones (10.5 tones)</td>
      <td>imperfect consonance</td>
    </tr>
    <tr>
      <td>Small quarterdecima</td>
      <td>m.14
        <p>(part 8+m.7)</p>
      </td>
      <td>22 semitones (11 tones)</td>
      <td>dissonance</td>
    </tr>
    <tr>
      <td>Large quarterdecima</td>
      <td>b.14
        <p>(part 8+b.7)</p>
      </td>
      <td>23 semitones (11.5 tones)</td>
      <td>dissonance</td>
    </tr>
    <tr>
      <td>Pure quintdecima</td>
      <td>part 15
        <p>(Part 8+Part 8)</p>
      </td>
      <td>24 semitones (12 tones)</td>
      <td>perfect consonance</td>
    </tr>
  </tbody>
</table>