<h2>Modes</h2>
<p>First, let's deal with the concept of " <strong>mode</strong> " (from the Latin modus - measure, method).</p>
<p><strong>Mode</strong> and <strong>interval</strong> are two interrelated and most important categories of musical
  thinking, where mode is a system of a certain logical organization of tones and semitones, and interval is the
  smallest intonation cell of a mode. For the formation of a musical ear, the importance of the mode, as the basis of
  musical logic, is undeniable.</p>
<p>So, <strong>mode</strong> is a limited pitch system, with a certain interval structure, on the basis of which music
  is created. Each mode sound is called a step. The steps of the mode are divided into stable and unstable.</p>
<p><strong><u>For example</u></strong> , the scale of the Ionian and major modes: tone - tone - semitone - tone - tone -
  tone - semitone (we talked about tones and semitones in the "Intervals" section).</p>
<p><strong><u>For example</u></strong> , the first step, as well as the third and fifth, are considered stable steps.
  The steps of the mode, in turn, are traditionally indicated by Roman numerals I - III - V (stable steps of the mode),
  II - IV - VI - VII (unstable steps of the mode).</p>
<p><strong><u>Note:</u></strong> The stepwise ascending or descending melodic movement of the scale of the fret within
  at least an octave is called<strong> gamma</strong> .</p>
<p>In professional European music, a system of seven-step frets has developed. Most likely this is due to the optimal
  amount of human RAM. However, in folklore music there are dichords (a mode of two steps), trichords (of three steps),
  tetrachords (of four steps), pentachords or pentatonics (of five steps), etc. Both the scales of the modes and the
  rules for the behavior of their steps have historically developed in musical practice.</p>
<p>For the expressiveness of the frets, the value of the third from the first step is of great importance. Therefore,
  there are, for example, major and minor modes, pentatonic major or minor mood and color.</p>
<p>Fig. 1 Major pentatonic scale - between the first and third steps (do-mi) - a major third (b.3).</p>
<p>Fig. 2 Minor pentatonic scale - between the first and third steps (C-E-flat) - minor third (m.3).</p>
<p><strong><u>Note:</u></strong> <strong> Major</strong> (from French majeur and Italian maggiore - larger, also dur
  from Latin durus - hard) is a natural scale, the scale of which in the ascending movement has the structure tone -
  tone - semitone - tone - tone - tone - semitone.</p>
<p><strong>Minor</strong> (from Italian minore - smaller, from Latin moll - soft) is a natural scale, the scale of which
  in the ascending movement has the structure tone - semitone - tone - tone - semitone - tone - tone.</p>
<p>Consider <strong>diatonic frets</strong>, which can be built from white keys. As we know, the distance between the
  white keys is different, so each note will build a fret with a special tonal structure, so we get seven different
  frets: <strong>Dorian, Phrygian, Lydian, Mixolydian, Ionian, Aeolian, Locrian</strong> (the names are borrowed from
  ancient Greek music). ).</p>
<p>Fig. 3 Ionian mode (coinciding in structure with the major mode)</p>
<p>Fig. 4 Dorian mode (since the D-F third is small (m.3), this is a minor mode).</p>
<p>Fig. 5 Phrygian mode (minor mood).</p>
<p>Fig. 6 Lydian mode (major mood).</p>
<p>Fig. 7 Mixolydian mode (major mood).</p>
<p>Fig. 8 Aeolian mode (coinciding in structure with the minor mode).</p>
<p>Fig. 9 Locrian mode (minor inclination).</p>
<p>Any fret, knowing its tonal structure, can be built from any note.</p>
<p><strong><u>For example,</u></strong> to build the Mixolydian mode from the note E, you need to build a major mode
  with a lowered seventh degree. And to build a Phrygian mode from note to, you need to build a minor mode with a
  lowered second degree.</p>
<p>Fig.11 Phrygian mode from note to (minor mode with a lowered second degree).</p>
<table class="table lad__table-1">
  <tbody>
    <tr>
      <td><strong>Name of fret</strong></td>
      <td><strong>How to build</strong></td>
    </tr>
    <tr>
      <td>Ionian mode</td>
      <td>Major scale</td>
    </tr>
    <tr>
      <td>Dorian mode</td>
      <td>Minor mode with a high IV degree</td>
    </tr>
    <tr>
      <td>Phrygian mode</td>
      <td>Minor mode with low II degree</td>
    </tr>
    <tr>
      <td>Lydian mode</td>
      <td>Major scale with low IV degree</td>
    </tr>
    <tr>
      <td>Mixolydian mode</td>
      <td>Major scale with low 7th degree</td>
    </tr>
    <tr>
      <td>Aeolian mode</td>
      <td>Minor scale</td>
    </tr>
    <tr>
      <td>Locrian mode</td>
      <td>Minor mode with low II and V degree</td>
    </tr>
    <tr>
      <td>Phrygian major scale (typical of flamenco)</td>
      <td>Phrygian mode with low II, but high III degree</td>
    </tr>
    <tr>
      <td>Gypsy (or Hungarian) mode</td>
      <td>Major mode with low II and VI degree. Minor mode with high IV and VII degree</td>
    </tr>
  </tbody>
</table>
<p>The historical evolution of modal systems from the era of classicism to the 20th century went along the line of
  enriching the sound composition of the mode. In this regard, the tasks of developing ear in motion from the classical
  major-minor through a single major-minor system of the same name, seven-step diatonic modes and modal variability
  (combination of major and minor) to complex modal structures in the music of the 20th century become more complicated.
  For example, “symmetrical modes” are a whole-tone scale, tone-semitone scale or semitone-tone etc.</p>
<p>On the basis of the mode, not only melody is built, but also harmony. Moreover, harmony and harmony have a
  significant impact on each other. For example, mode changes the interval structure of chords.</p>
<p>In the section of exercises "Scales" you will find a huge library of modal structures (Collection of modes) from
  different eras and countries.</p>
<p>In the Renaissance, a mode with such a scale was called the Ionian. He had two basic steps - the first and fifth,
  they were more often than others in the melody. The rest of the steps are inert. After any stage, any stage can
  appear. In the 17th century, the steps of the same scale were divided into three stable and four unstable ones. The
  new mode was called the Major. Melodies and polyphony in the Ionic and major modes differ markedly in expressiveness.
</p>