<h2>Интервалы</h2>
<p>Интервалы - фундаментальная единица в музыке и неотъемлемая часть мелодии и аккорда. По словам Бориса Асафьева, "каждый интервал достигается (сознаётся) слухом, и мелодия, в сущности, есть выявление интервалов"</p>
<p><strong>Интервал</strong> (от латинского <em>intervallum</em> &ndash; промежуток, расстояние) &ndash; это соотношение двух звуков по высоте.</p>
<p>Два звука интервала могут звучать <strong>одновременно</strong> или <strong>последовательно</strong>, в таком случае интервал будет <em><strong>мелодическим</strong></em> (последовательно) или <em><strong>гармоническим </strong></em>(одновременно).</p>
<p>Интервал имеет <em><strong>основание</strong></em> &ndash; нижний звук, и <em><strong>вершину</strong></em> &ndash; верхний звук.</p>
<p>К примеру, восходящий мелодический интервал <em>до-ми</em> движется от вершины к основанию.</p>
<p><em>Рис. 1</em> Восходящий мелодический интервал <em>до-ми </em>(большая терция).</p>
<p class="theory_ris"><img src="assets/img/theory/interval-1.jpg" alt="Рисунок 1"></p>
<p><em>Рис. 2</em> Восходящий мелодический интервал <em>до-ми-бемоль </em>(малая терция).</p>
<p class="theory_ris"><img src="assets/img/theory/interval-2.jpg" alt="Рисунок 2"></p>
<p><em>Рис. 3</em> Восходящий мелодический интервал <em>до-фа </em>(чистая кварта).</p>
<p class="theory_ris"><img src="assets/img/theory/interval-3.jpg" alt="Рисунок 3"></p>
<p><em>Рис. 4</em> Восходящий мелодический интервал <em>до-соль </em>(чистая квинта).</p>
<p class="theory_ris"><img src="assets/img/theory/interval-4.jpg" alt="Рисунок 4"></p>
<p>Мелодический интервал может быть <em>восходящим </em>(от основания к вершине) или <em>нисходящим</em> (от вершины к основанию).</p>
<p>Гармонические интервалы всегда читаются от основания к вершине.</p>
<p><em>Рис. 5 </em>Гармонический интервал <em>до-ми (большая терция).</em></p>
<p class="theory_ris"><img src="assets/img/theory/interval-5.jpg" alt="Рисунок 5"></p>
<p><em>Рис. 6</em> Гармонический интервал <em>до-ми-бемоль </em>(малая терция).</p>
<p class="theory_ris"><img src="assets/img/theory/interval-6.jpg" alt="Рисунок 6"></p>
<p><em>Рис. 7</em> Гармонический интервал <em>до-фа </em>(чистая кварта).</p>
<p class="theory_ris"><img src="assets/img/theory/interval-7.jpg" alt="Рисунок 7"></p>
<p><em>Рис. 8</em> Гармонический интервал <em>до-соль </em>(чистая квинта).</p>
<p class="theory_ris"><img src="assets/img/theory/interval-8.jpg" alt="Рисунок 8"></p>
<h2><strong>Классификация интервалов</strong></h2>
<p>Интервалы классифицируются по <strong>количественной </strong>(ступеневой) и <strong>качественной</strong> (тоновой) величине.</p>
<p><strong>Количественная</strong> (ступеневая)<strong> величина </strong>&ndash; количество основных ступеней звукоряда (<em>до-ре-ми-фа-соль-ля-си</em>) от основания до вершины включительно.</p>
<p>Количественная величина определяет <strong>название</strong> интервала, которое является латинским порядковым числительным, соответствующим количеству ступеней в интервале.</p>
<p><em>Например</em>, количество ступеней в интервале на <em>Рис. 3 и Рис. 7</em> равно четырём (<em>до</em><em>&mdash;</em><em>ре-ми-фа</em> снизу вверх) &ndash; этот интервал будет называться кварта (от лат. quartus &ndash; четвёртый), а на <em>Рис. 1, 2, 5, 6</em> &ndash; трём (<em>до-ре-ми </em>и <em>до-ре-ми-бемоль</em>)  &ndash; это терция (от лат. tertius &ndash; третий).</p>
<h2><strong><em>Названия интервалов по количественной (ступеневой) величине</em></strong></h2>
<table>
<tbody>
<tr>
<td>Прима (или унисон)</td>
<td>
<h4>Первый</h4>
</td>
<td>1 (звучание одного звука дважды)</td>
</tr>
<tr>
<td>Секунда</td>
<td>Второй</td>
<td>2 (две соседние ступени)</td>
</tr>
<tr>
<td>Терция</td>
<td>Третий</td>
<td>3</td>
</tr>
<tr>
<td>Кварта</td>
<td>Четвёртый</td>
<td>4</td>
</tr>
<tr>
<td>Квинта</td>
<td>Пятый</td>
<td>5</td>
</tr>
<tr>
<td>Секста</td>
<td>Шестой</td>
<td>6</td>
</tr>
<tr>
<td>Септима</td>
<td>Седьмой</td>
<td>7</td>
</tr>
<tr>
<td>Октава</td>
<td>Восьмой</td>
<td>8</td>
</tr>
<tr>
<td>Нона</td>
<td>Девятый</td>
<td>9</td>
</tr>
<tr>
<td>Децима</td>
<td>Десятый</td>
<td>10</td>
</tr>
<tr>
<td>Ундецима</td>
<td>Одиннадцатый</td>
<td>11</td>
</tr>
<tr>
<td>Дуодецима</td>
<td>Двенадцатый</td>
<td>12</td>
</tr>
<tr>
<td>Терцдецима</td>
<td>Тринадцатый</td>
<td>13</td>
</tr>
<tr>
<td>Квартдецима</td>
<td>Четырнадцатый</td>
<td>14</td>
</tr>
<tr>
<td>Квинтдецима</td>
<td>Пятнадцатый</td>
<td>15</td>
</tr>
</tbody>
</table>
<p>Интервалы в пределах октавы включительно называются <strong><em>простыми</em></strong>, а шире октавы &ndash; <strong><em>составными</em></strong>.</p>
<p><strong>Например,</strong> на <em>Рис.1-8</em> &ndash; простые интервалы, а на <em>Рис. 9</em> &ndash; составной интервал.</p>
<p><em>Рис. 3</em> Гармонический составной интервал <em>ре-</em><em>фа </em>&ndash; децима (терция через октаву).</p>
<p><strong>Качественная </strong>(тоновая) <strong>величина</strong> <strong>&ndash; </strong>количество полутонов (или тонов) между основанием и вершиной интервала.</p>
<p><strong><em>Примечание:</em></strong> <strong>Полутон</strong> &ndash; наименьшее расстояние между двумя ближайшими звуками различной высоты.</p>
<p><em>Рис. 10 </em>Восходящая мелодическая секунда <em>соль-ля бемоль</em><em> (полутон).</em></p>
<p><strong><em>Например,</em></strong> количество полутонов в интервале на <em>Рис. 3, 7</em> (кварта) равно пяти полутонам (либо два с половиной тона), а на <em>Рис. 1,</em><em> 5</em> (большая терция) &ndash; четыре полутона (или два тона), на <em>Рис. 2, 6 </em>(малая терция) &ndash; три полутона (полтора тона), на <em>Рис. 4, 8 </em>(чистая квинта) &ndash; семь полутонов (три с половиной тона).</p>
<p>Качественная величина определяет <strong>качество</strong> (<em>вид</em>) интервала и разделяет интервалы на <strong><em>чистые, малые, большие, уменьшённые, увеличенные</em>.</strong></p>
<p><strong><em>Например,</em></strong> на <em>Рис. 3, 7</em> &ndash; чистая кварта, на <em>Рис. 2, 6</em> &ndash; малая терция, на <em>Рис. 1, 5</em> большая терция, на <em>Рис. 4, 8</em> &ndash; чистая квинта.</p>
<p>Примы, кварты, квинты и октавы &ndash; это чистые интервалы. Если они звучат в гармоническом виде, то их можно определить по характеру звучания (фонизму) &ndash; это <strong><em>совершенные консонансы</em></strong>.</p>
<p>Секунды, терции, сексты и септимы бывают большими и малыми, в зависимости от качественной (тоновой) величины. Гармонические секунды и септимы &ndash; <strong><em>диссонансы</em></strong>, а терции и сексты &ndash; <strong><em>несовершенные консонансы</em></strong>.</p>
<p>Любой интервал может стать уменьшённым (кроме унисона) и увеличенным. В рамках наших упражнений мы будем использовать только уменьшённую квинту и дуодециму, а также увеличенную кварту и ундециму. Увеличенная кварта и уменьшённая квинта также называются <strong>тритонами</strong> (так как содержат три тона).</p>
<p><strong><em>Примечание:</em></strong> <strong>Консонанс</strong> (от французского <em>consonance</em> &ndash; согласное звучание). Консонансное созвучие психологически воспринимается как гармоничное, мягкое, спокойное. Различают совершенные и несовершенные консонансы.</p>
<p><strong>Диссонанс</strong> (от французского <em>dissonance</em><em> &ndash; нестройное звучание</em>). Диссонанс психологически воспринимается слухом как дисгармоничное, напряжённое, беспокойное.</p>
<h2><strong>Таблица интервалов </strong></h2>
<table>
<tbody>
<tr>
<td><strong>Название интервала</strong> <strong>по количественной (ступеневой) величина</strong></td>
<td><strong>Сокр. название</strong></td>
<td><strong>Качественная (тоновая) величина</strong></td>
<td><strong>Характер звучания</strong>
<p> </p>
<p><strong>(фонизм)</strong></p>
</td>
</tr>
<tr>
<td>
<p><strong>Простые интервалы</strong></p>
</td>
</tr>
<tr>
<td>Чистая прима (унисон)</td>
<td>ч.1</td>
<td>0 полутонов</td>
<td>совершенный консонанс</td>
</tr>
<tr>
<td>Малая секунда</td>
<td>м.2</td>
<td>1 полутон (0,5 тона)</td>
<td>диссонанс</td>
</tr>
<tr>
<td>Большая секунда</td>
<td>б.2</td>
<td>2 полутона (1 тон)</td>
<td>диссонанс</td>
</tr>
<tr>
<td>Малая терция</td>
<td>м.3</td>
<td>3 полутона (1,5 тона)</td>
<td>несовершенный консонанс</td>
</tr>
<tr>
<td>Большая терция</td>
<td>б.3</td>
<td>4 полутона (2 тона)</td>
<td>несовершенный консонанс</td>
</tr>
<tr>
<td>Чистая кварта</td>
<td>ч.4</td>
<td>5 полутонов (2,5 тона)</td>
<td>совершенный консонанс</td>
</tr>
<tr>
<td>Увеличенная кварта (тритон)</td>
<td>ув.4</td>
<td>6 полутонов (3 тона)</td>
<td>диссонанс</td>
</tr>
<tr>
<td>Уменшённая квинта (тритон)</td>
<td>ум.5</td>
<td>6 полутонов (3 тона)</td>
<td>диссонанс</td>
</tr>
<tr>
<td>Чистая квинта</td>
<td>ч.5</td>
<td>7 полутонов (3,5 тона)</td>
<td>совершенный консонанс</td>
</tr>
<tr>
<td>Малая секста</td>
<td>м.6</td>
<td>8 полутонов (4 тона)</td>
<td>несовершенный консонанс</td>
</tr>
<tr>
<td>Большая секста</td>
<td>б.6</td>
<td>9 полутонов (4,5 тона)</td>
<td>несовершенный консонанс</td>
</tr>
<tr>
<td>Малая септима</td>
<td>м.7</td>
<td>10 полутонов (5 тонов)</td>
<td>диссонанс</td>
</tr>
<tr>
<td>Большая септима</td>
<td>б.7</td>
<td>11 полутонов (5,5 тонов)</td>
<td>диссонанс</td>
</tr>
<tr>
<td>Чистая октава</td>
<td>ч.8</td>
<td>12 полутонов (6 тонов)</td>
<td>совершенный консонанс</td>
</tr>
<tr>
<td>
<p><strong>Составные интервалы</strong></p>
</td>
</tr>
<tr>
<td>Малая нона</td>
<td>м.9
<p> </p>
<p>(ч.8+м.2)</p>
</td>
<td>13 полутонов (6,5 тонов)</td>
<td>диссонанс</td>
</tr>
<tr>
<td>Большая нона</td>
<td>б.9
<p> </p>
<p>(ч.8+б.2)</p>
</td>
<td>14 полутонов (7 тонов)</td>
<td>диссонанс</td>
</tr>
<tr>
<td>Малая децима</td>
<td>м.10
<p> </p>
<p>(ч.8+м.3)</p>
</td>
<td>15 полутонов (7,5 тонов)</td>
<td>несовершенный консонанс</td>
</tr>
<tr>
<td>Большая децима</td>
<td>б.10
<p> </p>
<p>(ч.8+б.3)</p>
</td>
<td>16 полутонов (8 тонов)</td>
<td>несовершенный консонанс</td>
</tr>
<tr>
<td>Чистая ундецима</td>
<td>ч.11
<p> </p>
<p>(ч.8+ч.4)</p>
</td>
<td>17 полутонов (8,5 тонов)</td>
<td>совершенный консонанс</td>
</tr>
<tr>
<td>Увеличенная ундецима</td>
<td>ув.11
<p> </p>
<p>(ч.8+ув.4)</p>
</td>
<td>18 полутонов (9 тонов)</td>
<td>диссонанс</td>
</tr>
<tr>
<td>Уменьшённая дуодецима</td>
<td>ум.12
<p> </p>
<p>(ч.8+ум.5)</p>
</td>
<td>18 полутонов (9 тонов)</td>
<td>диссонанс</td>
</tr>
<tr>
<td>Чистая дуодецима</td>
<td>ч.12
<p> </p>
<p>(ч.8+ч.5)</p>
</td>
<td>19 полутонов (9,5 тонов)</td>
<td>совершенный консонанс</td>
</tr>
<tr>
<td>Малая терцдецима</td>
<td>м.13
<p> </p>
<p>(ч.8+м.6)</p>
</td>
<td>20 полутонов (10 тонов)</td>
<td>несовершенный консонанс</td>
</tr>
<tr>
<td>Большая терцдецима</td>
<td>б.13
<p> </p>
<p>(ч.8+б.6)</p>
</td>
<td>21 полутонов (10,5 тона)</td>
<td>несовершенный консонанс</td>
</tr>
<tr>
<td>Малая квартдецима</td>
<td>м.14
<p> </p>
<p>(ч.8+м.7)</p>
</td>
<td>22 полутонов (11 тонов)</td>
<td>диссонанс</td>
</tr>
<tr>
<td>Большая квартдецима</td>
<td>б.14
<p> </p>
<p>(ч.8+б.7)</p>
</td>
<td>23 полутонов (11,5 тонов)</td>
<td>диссонанс</td>
</tr>
<tr>
<td>Чистая квинтдецима</td>
<td>ч.15
<p> </p>
<p>(ч.8+ч.8)</p>
</td>
<td>24 полутонов (12 тонов)</td>
<td>совершенный консонанс</td>
</tr>
</tbody>
</table>