<h2>Scales</h2>
<p>After a detailed study of the concept of "Mode", you can safely proceed to the study of the concept of "tonality".
  After reading this article, you should have no problem playing absolutely any scale.</p>
<p>Recall that the progressively ascending or descending melodic movement of the scale of the fret within at least an
  octave is called <strong>gamma</strong> .</p>
<p>As we found out, a <strong>mode</strong> is a scale consisting of stable (I, III, V) and unstable steps (II, IV, VI,
  VII).</p>
<p>In professional European music of the 17th-19th centuries, and, partly, of the 20th century, two modes are most often
  used - <strong>natural</strong> major and <strong>natural</strong> minor. The first degree of the major and minor
  scale is called <strong>tonic</strong> , it is the center to which all other degrees and chords of the scale
  gravitate.</p>
<p><strong><u>For example</u></strong><strong> ,</strong> if we build the F major and minor scales from the note F
  (based on the tonal structure of these modes), we will get the<strong> key</strong> of F major and F minor.</p>
<p><strong><u>Note</u></strong><strong> :</strong> the structure of the major scale: tone - tone - semitone - tone -
  tone - tone - semitone. The structure of the minor scale: tone - semitone - tone - tone - semitone - tone - tone.</p>
<p>Thus, <strong>tonality</strong> is a certain height position of a major or minor scale in a musical system. Each fret
  has twelve pitch positions, that is, twelve keys (12 major and 12 minor). Since the distance between the keys is not
  the same, accidental signs are necessary for the steps of keys <strong>(</strong> signs of increase -
  <strong>sharps</strong> , and signs of decrease - <strong>flats</strong> ). Each tonality has its own permanent signs
  of alteration. As a rule, they are set at the key (treble, bass, tenor, etc.) and are called key signs.</p>
<p><strong><u>For example</u></strong> , if we build from a note to a minor scale, then we will need to apply three
  flats - B-flat, E-flat and A-flat (Fig. 1). And if we decide to build an A major scale from the sound, then we will
  need to use three sharps: F-sharp, C-sharp and G-sharp (Fig. 2).</p>
<p>Fig. 1. Key in C minor.</p>
<p>Fig. 2. Key in A major.</p>
<p>On the white keys, you can build only one major key - C major, and only one minor key - A minor. There are no key
  signs in these keys. Between themselves, these keys will be called <strong>parallel</strong> , since their step
  composition and the number of key characters are the same. In major, the parallel tonality is on the VI degree, in
  minor - on the III.</p>
<p>There is another definition of the major and minor modes, which is based on the simultaneous sounding of three stable
  steps (I-III-V) that form a chord - a triad. In the major key, a large triad is formed (B <sub>5 </sub><sup>3</sup> ),
  in the minor key - a small one (M <sub>5 </sub><sup>3</sup> ). Read more about these chords in the Chords: Triads
  section.</p>
<p>If we start building pure fifths upwards from the sound to and from the sound A (part 5), and from these sounds major
  and, accordingly, minor scales, we will get seven major and seven minor sharp keys. In each subsequent key, one key
  sign (sharp) will be added, starting with F-sharp.</p>
<p><strong>Table of sharp keys (parallel to each other)</strong></p>
<table class="table gamma__table-1">
  <tbody>
    <tr>
      <td><strong>C sharp major</strong></td>
      <td>&nbsp;</td>
      <td><img src="assets/img/theory/gamma-1.jpg" alt="Gamma 1"></td>
      <td><strong>&nbsp;</strong></td>
      <td><strong>A-sharp minor</strong></td>
    </tr>
    <tr>
      <td><strong>F sharp major</strong></td>
      <td>part 5 ↑</td>
      <td></td>
      <td>part 5 ↑</td>
      <td><strong>D sharp minor</strong></td>
    </tr>
    <tr>
      <td><strong>B major</strong></td>
      <td>part 5 ↑</td>
      <td></td>
      <td>part 5 ↑</td>
      <td><strong>G-sharp minor</strong></td>
    </tr>
    <tr>
      <td><strong>E major</strong></td>
      <td>part 5 ↑</td>
      <td></td>
      <td>part 5 ↑</td>
      <td><strong>C-sharp minor</strong></td>
    </tr>
    <tr>
      <td><strong>A major</strong></td>
      <td>part 5 ↑</td>
      <td></td>
      <td>part 5 ↑</td>
      <td><strong>F-sharp minor</strong></td>
    </tr>
    <tr>
      <td><strong>D major</strong></td>
      <td>part 5 ↑</td>
      <td></td>
      <td>part 5 ↑</td>
      <td><strong>B minor</strong></td>
    </tr>
    <tr>
      <td><strong>G major</strong></td>
      <td>part 5 ↑</td>
      <td></td>
      <td>part 5 ↑</td>
      <td><strong>E minor</strong></td>
    </tr>
    <tr>
      <td><strong>C major</strong></td>
      <td>part 5 ↑</td>
      <td></td>
      <td>part 5 ↑</td>
      <td><strong>La Minor</strong></td>
    </tr>
  </tbody>
</table>
<p>The order of appearance of sharps in the keys is the following fa - do - sol - re - la - mi - si (note that it is
  also built in pure fifths (ch.5) up from f-sharp), see Fig.3.</p>
<p>Fig.3. The order and correct spelling of key characters in sharp keys.</p>
<p>If, however, from the sound to and la, we build down pure fifths (part 5), then we will get seven tonic major and
  seven tonic minor flat keys. In each key, one flat will be added, starting with B-flat.</p>
<p><strong>Table of flat keys (parallel to each other)</strong></p>
<table class="table gamma__table-2">
  <tbody>
    <tr>
      <td><strong>C major</strong></td>
      <td>part 5↓</td>
      <td></td>
      <td>part 5↓</td>
      <td><strong>La Minor</strong></td>
    </tr>
    <tr>
      <td><strong>F major</strong></td>
      <td>part 5↓</td>
      <td></td>
      <td>part 5↓</td>
      <td><strong>D minor</strong></td>
    </tr>
    <tr>
      <td><strong>B flat major</strong></td>
      <td>part 5↓</td>
      <td></td>
      <td>part 5↓</td>
      <td><strong>G minor</strong></td>
    </tr>
    <tr>
      <td><strong>E flat major</strong></td>
      <td>part 5↓</td>
      <td></td>
      <td>part 5↓</td>
      <td><strong>C minor</strong></td>
    </tr>
    <tr>
      <td><strong>A flat major</strong></td>
      <td>part 5↓</td>
      <td></td>
      <td>part 5↓</td>
      <td><strong>F minor</strong></td>
    </tr>
    <tr>
      <td><strong>D flat major</strong></td>
      <td>part 5↓</td>
      <td></td>
      <td>part 5↓</td>
      <td><strong>B flat minor</strong></td>
    </tr>
    <tr>
      <td><strong>G flat major</strong></td>
      <td>part 5↓</td>
      <td></td>
      <td>part 5↓</td>
      <td><strong>E-flat minor</strong></td>
    </tr>
    <tr>
      <td><strong>C flat major</strong></td>
      <td>&nbsp;</td>
      <td></td>
      <td>&nbsp;</td>
      <td><strong>A flat minor</strong></td>
    </tr>
  </tbody>
</table>
<p>The order of appearance of flats in the keys is the following si - mi - la - re - sol - do - fa (in pure fifths (p.
  5) down from the note si-flat), see Fig.4.</p>
<p>Fig.4. The order and correct spelling of key characters in flat keys.</p>
<p><strong><u>Note</u></strong><strong> :</strong> The secret to quickly memorizing signs in scales: in a sharp major
  key, each new sign is on the seventh step. Knowing the order of sharps, it will not be difficult to calculate the
  number. In A major, the 7th step is G, which means there are three sharps in this key: F-do-G. In the key of C-sharp
  major, the 7th step is si, which means that there are seven sharps in this key: f-do-sol-re-la-mi-si. Each new flat in
  major keys appears on the fourth step. So, for example, in the key of A-flat major, the fourth step is re, which means
  that there are four flats in this scale: si-mi-la-re. Keeping in mind the parallel keys, you can easily determine the
  number of characters in minor scales.</p>
<p>
</p>
<p><strong>Three types of major and minor scales</strong></p>
<p>Major and minor modes have varieties <strong>: natural mode, harmonic mode and melodic mode</strong> . Natural major
  and minor we considered in the section "Key".</p>
<p>In the <strong>harmonic major</strong> , the VI step is lowered by half a tone (see Fig. 5).</p>
<p><strong><u>Note</u></strong> : If you need to lower the flat, then you must use the double-flat sign
  (double-reduction, indicated as<strong> ♭♭</strong> ), if you need to lower the sharp, then you must use the becar
  accidental sign<strong> (</strong> cancellation sign, indicated as). To increase the sharp, the double-sharp sign is
  used (twice-raise, denoted as ), to increase the flat, you must use the bekar.</p>
<p>
</p>
<p>Fig.5. D major harmonic type (harmonic D major).</p>
<p><strong><u>Note</u></strong> : We denote the lowered and increased steps with a plus (+) or minus (-), there are also
  designations when ♭ or # are placed near the step, as well as the letters “v” or “n”.</p>
<p>Fig.6. Harmonic B flat minor.</p>
<p>In the <strong>melodic major</strong> , the VI and VII steps are lowered by half a tone (see Fig. 7).</p>
<p>Fig.7. Melodic D flat major.</p>
<p>In the <strong>melodic minor</strong> , the VI and VII steps rise by half a tone (see Fig. 8).</p>
<p>Fig.8. Melodic G-sharp minor.</p>
<p>Unlike natural major and minor, which have <strong>constant</strong> key marks, marks that occur in harmonic and
  melodic form will be called <strong>random</strong> alteration marks.</p>
<p>The use of these types of major and minor modes is a consequence of the development of the modal system in order to
  diversify it.</p>