<div class="tabs">
  <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked="">
  <label for="tab-btn-1">Chords</label>
  <input type="radio" name="tab-btn" id="tab-btn-2" value="">
  <label for="tab-btn-2">Triads</label>
  <input type="radio" name="tab-btn" id="tab-btn-3" value="">
  <label for="tab-btn-3">Seventh chords</label>
  <input type="radio" name="tab-btn" id="tab-btn-4" value="">
  <label for="tab-btn-4">Inversions</label>

  <div id="content-1">
    <h2>Chords</h2>
    <p><strong>A chord (from the Latin akordare - to agree) is</strong> an independent consonance, built according to a
      certain principle. Note that we can also call an interval (two sounds) a consonance, but in a chord, as a rule,
      there are three or more sounds.</p>
    <p>Traditional music theory separates the concepts of chord and non-chord (the construction of a random combination
      of several sounds).</p>
    <p>Until the 20th century, only such independent consonances were considered <strong>chords , the sounds of which
        can be arranged in thirds ( </strong><strong>terts chords</strong> ).</p>
    <p><strong><u>Note:</u></strong> <strong> Third</strong> is an interval of three steps. A minor third (m.3/1.5
      tones) contains one and a half tones, a major (b.3/2 tones), a diminished third (min.3/1 tone) and an augmented
      third (increased 3/2.5 tones). The correct construction of thirds will help in mastering chords.</p>
    <p>If you build thirds on the piano, then on the white keys (on the main steps), three large thirds are built - from
      do, fa and sol, and four small thirds - from re, mi, la and si. Knowing that the sol-si is a major third, and
      seeing accidentals near the notes, you can guess about its changes. If there are flats or sharps near the notes of
      salt and si, then the third will remain large (sol-flat - si-flat, sol-sharp - si-sharp). A sharp near the note
      sol or flat near si will make the third small (sol-sharp - si, sol - si-flat).</p>
    <p>Example 1 (thirds from the sound salt):</p>
    <p><strong>Types of third chords</strong></p>
    <p>When determining chords, structural features are taken into account <strong>- the number of sounds and interval
        composition.</strong></p>
    <p><strong>By the number of sounds</strong> in classical harmony <strong>, tertian</strong> chords have from three
      to five, and in modern harmony up to seven sounds.</p>
    <ol>
      <li><strong>Triad -</strong> three sounds, contains two thirds, extreme sounds form a fifth.</li>
    </ol>
    <p>Example 2 (triad):</p>
    <ol start="2">
      <li><strong>Seventh chord -</strong> four sounds, contains three thirds, extreme sounds form a seventh.</li>
    </ol>
    <p>Example 3 (seventh chord):</p>
    <ol start="3">
      <li><strong>Nonaccord</strong> - five sounds, contains four thirds, extreme sounds form nona.</li>
    </ol>
    <p>Example 4 (nonchord):</p>
    <ol start="4">
      <li><strong>Undecimachord</strong> - six sounds, contains five thirds, extreme sounds form an undecima.</li>
    </ol>
    <p>Example 5 (undecimachord):</p>
    <ol start="5">
      <li><strong>Tertsdecimakkord -</strong> seven sounds, contains six thirds, extreme sounds form tertsdecima.</li>
    </ol>
    <p>Example 6 (tertzdecimal chord):</p>
    <p>Each type of chord has its own varieties, depending on the <strong>tertian composition</strong> (interval
      composition). This is how a chord with two thirds, three, four, five, six is ​​distinguished. That is, triads,
      seventh chords, nonchords, undecimaccords, tertsdecimaccords.</p>
    <p><strong>Triad</strong> (3 sounds / 2 thirds): (details in the article Triads)</p>
    <ol>
      <li>major,</li>
      <li>minor,</li>
      <li>reduced,</li>
      <li>enlarged.</li>
    </ol>
    <p><strong>Seventh chord (</strong> 4 sounds / 3 thirds <strong>)</strong> : (details in the article Seventh chords)
    </p>
    <ol>
      <li>big major,</li>
      <li>big minor,</li>
      <li>small major,</li>
      <li>small minor,</li>
      <li>increased,</li>
      <li>reduced,</li>
      <li>small reduced.</li>
    </ol>
    <p>Multi-terts chords ( non- <strong>chord</strong> (5 sounds / 4 thirds) <strong>, undecimaccord</strong> (6 stars
      / 5 tones) <strong>and terzdecimaccord</strong> (7 stars / 6 tones)) differ in the type of seventh chord in their
      basis and in the form of nona, undecima, terzdecima. For example, there is the term " <strong>small dominant
        nonchord</strong> ", which is based on the dominant seventh chord and a small non.</p>
    <p><strong>Nonchord:</strong> (details in the article Seventh chords):</p>
    <ol>
      <li>major major seventh chord + major nona</li>
      <li>minor major seventh chord + major nona</li>
      <li>small minor seventh chord + big nona</li>
      <li>minor major seventh chord + minor nona</li>
    </ol>
    <p><strong>NB</strong> In the exercises, this chord will be referred to as Dominant non-chord <sub>9</sub> (b.3 +
      m.3 + m.3 + m.3 or B <sub>5 </sub><sup>3</sup> + Um <sub>5 </sub><sup>3</sup> )</p>
    <p>Example 7 (dominant nonchord):</p>
    <p>In our chord exercises you will get acquainted with three types of nonchords, we will write more about them in
      the article Seventh chords.</p>
    <p><strong>NB</strong> A complete classification of all chords according to intervals has been developed in jazz
      theory and practice.</p>
    <p><strong>Nothertz chords</strong></p>
    <p><strong>Non -tertzian</strong> chords are divided into two main groups:</p>
    <ol>
      <li>Chords formed as a result of a modification of the tertian structure.</li>
    </ol>
    <p>Example 8 (a triad with a replacement third tone formed a non-tertz structure):</p>
    <ol start="2">
      <li>Non-terzian chords. For example, a cluster (by seconds), a quarter chord (built by quarts).</li>
    </ol>
    <p>Example 9 (cluster and quarter chord):</p>
    <p>Let's try to consider in detail such tertian chords as <strong>triad</strong> , <strong>seventh chord</strong>
      and <strong>nonchord.</strong></p>
  </div>


  <div id="content-2">
    <h2>Triad</h2>
    <p><strong>Triad</strong> - consonance, chord, the sounds of which are arranged in thirds (extreme sounds form a
      fifth).</p>
    <p><strong>There are four types of triads and differ in their interval composition</strong> : major (large), minor
      (small), diminished, enlarged.</p>
    <p>The sound from which the chord is arranged in thirds is called <strong>the root tone. </strong>Next comes the
      third (second sound) and fifth tone (third sound). If the root is in the bass of the chord, then it is the root
      <strong>form of the chord</strong> . If the bass has a different chord tone, then this is an
      <strong>inversion</strong> (for more details, see the inversion of chords article).</p>
    <p><strong>Major (large) triad</strong> consists of a major and minor third (B <sup>5 </sup><sub>3</sub> = b.3 +
      m.3, based on part 5)</p>
    <p>Example 1 (major triad):</p>
    <p><strong>NB</strong> In classical harmony, the major triad (large) is designated as B <sup>5 </sup><sub>3</sub> ,
      the numbers mean that a major third and a pure fifth are built from the main tone. Accordingly, a minor triad,
      that is, a small one, is denoted by M <sup>5 </sup><sub>3</sub> .</p>
    <p><strong>A minor (small) triad</strong> consists of a minor and a major third (M <sup>5 </sup><sub>3</sub> = m.3 +
      b.3, based on part 5).</p>
    <p>Example 2 (minor triad):</p>
    <p><strong>A diminished triad</strong> consists of two small thirds (Um. <sup>5 </sup><sub>3</sub> = m.3 + m.3,
      based on um.5).</p>
    <p>Example 3 (diminished triad):</p>
    <p><strong>The augmented triad</strong> consists of two major thirds (Sw. <sup>5 </sup><sub>3</sub> = b.3 + b.3,
      based on w.5).</p>
    <p>Example 4 (augmented triad):</p>
    <p><strong>You will also see chords such as SUS </strong><strong>2</strong> and <strong>SUS
      </strong><strong>4</strong> in our exercises . These are <strong>non-tertz chords</strong> , which can be thought
      of as triads, with a <strong>replacement tertz tone</strong> .</p>
    <p><strong>SUS </strong><strong>2 is a</strong> non-terzian chord consisting of a major second and a perfect fourth
      (the extreme sounds form a fifth).</p>
    <p>Example 5 (triad with a delayed second):</p>
    <p><strong>SUS </strong><strong>4 is a</strong> non-terzian chord consisting of a perfect fourth and a major second
      (the extreme sounds form a fifth).</p>
    <p>Example 6 (triad with delayed fourth):</p>
    <p><strong>Triads in major and minor</strong></p>
    <p>The major and minor modes are determined by the main steps - I (tonic / <strong>T</strong> ), IV (subdominant /
      <strong>S</strong> ) and V (dominant / <strong>D</strong> ).</p>
    <p>It is on these steps in major that major triads and minor triads in minor are built. They are about <strong>again
        any harmony</strong> in major or minor compositions and are called <strong>major triads</strong> . The remaining
      chords are secondary and carry an additional function.</p>
    <p>Three major triads (I, IV, V), three minor triads (II, III, VI) and one diminished triad (VII) can be built on
      the steps of the major scale. If you use the <strong>harmonic form of major</strong> , in which the sixth step is
      lowered by half a step, then you can also build a reduced and minor triad, as well as an increased triad.</p>
    <p>Example 7 (triads in C major, including harmonic form):</p>
    <p>On the steps of the <strong>minor scale</strong> , you can build three minor triads (I, IV, V), three major
      triads (III, VI, VII) and one diminished triad (II). If you use the <strong>harmonic form of the minor</strong> ,
      in which the seventh degree rises by half a step, then you can build an even reduced and major triad, as well as
      an increased triad. Note that <strong>in minor compositions</strong> , the harmonic type is most often used, so
      the triad on the fifth step (dominant) will always be major.</p>
    <p>Example 7 (triads in A minor, including harmonic form):</p>
  </div>

  <div id="content-3">
    <h2>Seventh Chords</h2>
    <p><strong>A seventh chord</strong> is a chord of four sounds arranged (or can be arranged) by thirds. Extreme
      sounds form a seventh.</p>
    <p>Like triads, <strong>seventh chords are defined by interval composition</strong> , thus forming seven main types
      of seventh chords.</p>
    <h3>big major</h3>
    <p>The interval composition of a large - major seventh chord: b.3 + m.3 + b.3 (or B <sup>5 </sup><sub>3</sub> +
      b.3), extreme sounds form b.7.</p>
    <p>Example 1:</p>
    <p>There are different <strong>designations for</strong> this chord: 1. maj7 2. M <sup>7</sup> 3. <sup>Δ</sup> 4.
      <sup>Δ7</sup></p>
    <p>In natural major, this chord can be built on the first step, and in natural minor, on the third step.</p>
    <p><strong>For example,</strong> if you need to play a large major seventh chord from sound to, then the letter “C”
      will be added to the designation: 1. C <sup>maj7</sup> 2. CM <sup>7</sup> 3. C <sup>Δ</sup> 4. C <sup>Δ7</sup></p>
    <h3>big minor</h3>
    <p>Interval - the composition of a large - minor seventh chord: m.3 + b.3 + b.3 (or M <sup>5</sup> Z + b.3), extreme
      sounds form b.7.</p>
    <p>Example 2:</p>
    <p><strong>Legend:</strong> 1. m <sup>maj7</sup> 2. m <sup>M7</sup> 3. m <sup>Δ</sup> 4. - <sup>Δ7</sup></p>
    <p>A major minor seventh chord can be built in the harmonic major on the fourth step, and in the harmonic minor on
      the first.</p>
    <h3>Minor major (known as the dominant seventh chord)</h3>
    <p>Interval composition of a small major seventh chord: b.3 + m.3 + m.3 (or B <sup>5</sup> 3 + m.3), extreme sounds
      form m.7</p>
    <p>Example 3:</p>
    <p>The designation of the small major is universal, the number 7 is added to the note from which the chord will be
      built. (The dominant seventh chord is designated as D <sub>7</sub> ).</p>
    <p>For example, a small major seventh chord from the note mi: E <sup>7</sup></p>
    <p>As you know, the dominant is the fifth step, so the dominant seventh chord is built on the fifth step in natural
      major and in harmonic minor.</p>
    <h3>small minor</h3>
    <p>Interval composition of a small minor seventh chord: m.3 + b.3 + m.3 (or M <sup>5</sup> Z + m.3), extreme sounds
      form m.7</p>
    <p>Example 4:</p>
    <p><strong>Legend:</strong> 1. m <sup>7</sup> 2. min <sup>7</sup> or mi <sup>7</sup> 3. - <sup>7</sup></p>
    <p>A small minor seventh chord can be built on II, III, IV in natural major and on II, IV, V in natural minor.</p>
    <h2>Small reduced (or semi-reduced)</h2>
    <p>Interval composition of a small reduced seventh chord: m.3 + m.3 + b.3 (or Um. <sup>5 </sup><sub>3</sub> + b.3),
      extreme sounds form m.7</p>
    <p>Example 5:</p>
    <p><strong>Designations:</strong> 1. m <sup>Ø</sup> 2. - <sup>7 (♭5)</sup> 3. p / mind. <sup>7</sup></p>
    <p>The semi-diminished seventh chord is also known as the minor introductory seventh chord, which is built on the
      seventh step in natural major (often denoted MVII7)</p>
    <h3>Reduced</h3>
    <p>The interval composition of the reduced seventh chord: m.3 + m.3 + m.3 (or Um. <sup>5 </sup><sub>3</sub> + m.3),
      extreme sounds form mind.7</p>
    <p>Example 6:</p>
    <p><strong>Legend:</strong> 1. <sup>°7</sup> 2. <sup>dim7</sup> 3. Dim.7</p>
    <p>The diminished seventh chord is known as the introductory seventh chord and occurs on the seventh step of the
      harmonic major and minor. This is one of the most common seventh chords.</p>
    <h3>Enlarged (large enlarged).</h3>
    <p>The interval composition of the increased seventh chord: b.3 + b.3 + m.3 (or Uv. <sup>5 </sup><sub>3</sub> +
      b.3), extreme sounds form b.7</p>
    <p>Example 7:</p>
    <p><strong>Legend:</strong> 1. <sup>5+/maj7</sup> 2. maj <sup>7(#5)</sup> 3. + <sup>M7</sup> 4. + <sup>Δ7</sup></p>
    <p>In the harmonic major, you can build on the VI step, and in the harmonic minor on the III.</p>
    <p><strong>NB</strong> In the exercises you will also meet the nethertz seventh chord - the Great diminished chord
      (it will be adjacent to the Great augmented seventh chord).</p>
    <p>Interval composition of a large reduced seventh chord: m.3 + m.3 + uv.3 (or Min. <sup>5 </sup><sub>3</sub> +
      uv.3), extreme sounds form b.7</p>
    <p>Example 8</p>
    <p>Possible notation: 1. <sup>°maj7</sup> 2. <sup>dim Δ</sup> 3. Sw. <sup>7</sup></p>
    <h2>Nonchords</h2>
    <p>Nonachord - a chord of five sounds that are (or can be) arranged in thirds.</p>
    <p>The sound of a non-chord determines the interval composition. A fifth tone may be omitted in a non-chord.</p>
    <h3>Major major seventh chord + major nona (major nonchord)</h3>
    <p>Denoted maj <sup>9</sup> (in this example, this is Cmaj <sup>9</sup> ).</p>
    <h3>Small major seventh chord + big nona (large dominant non-chord)</h3>
    <p>Denoted <sup>9</sup> (in this case C <sup>9</sup> ).</p>
    <h3>Minor minor seventh chord + major nona (minor nonchord)</h3>
    <p>Denoted by m <sup>9</sup> (in the example it is Cm <sup>9</sup> )</p>
    <h3>Small major seventh chord + small non (small dominant non-chord)</h3>
    <p>This is a "small dominant non-chord", which is based on a dominant seventh chord and a small non.</p>
    <p>A small dominant non-chord (or D <sup>9</sup> ) with a sixth without a fifth tone is called by A. Scriabin
      "Prometheus-chord", and F. Chopin was characterized by D <sup>9</sup> with a sixth.</p>
  </div>

  <div id="content-4">
    <h2>Chord Inversions</h2>
    <p>Each third chord (triad, seventh chord, non-chord) has several types of conversions.</p>
    <p>The sound from which the chord is arranged in thirds is called <strong>fundamental tone</strong> .</p>
    <p>If the root is in the bass of the chord, then it is the <strong>root </strong><strong>form of the chord
      </strong><strong>.</strong><strong></strong><strong></strong></p>
    <p><em>Example 1: (major triad in basic form B <sup>5 </sup><sub>3</sub> )</em></p>
    <p>If there is another tone in the bass, then this is an <strong>inversion ( </strong><strong>inv
      </strong><strong>ersion)</strong> .</p>
    <p>For example, if there is a tertian tone in the bass, and a triad in the upper voices, then this is in any case an
      appeal.</p>
    <p><em>Example 2: (major sixth chord B <sub>6</sub> )</em></p>
    <p>Triads have two inversions, seventh chords have three, and nonchords have four inversions.</p>
    <p>Let us consider in more detail the inversion of triads and seventh chords.</p>
    <p><strong>Triad inversions</strong></p>
    <p><strong>The triad has two inversions: the</strong> sixth chord (inv.1) and the fourth-sextchord (inv.2).</p>
    <p><strong>Sextachord ( </strong><strong>inv.1 </strong><strong>)</strong></p>
    <p>If the lower sound of the triad is moved an octave higher, then the first type of treatment will be obtained - a
      sixth chord, in the bass the third tone of the chord.</p>
    <p>Its structure is third + fourth (3 + 4).</p>
    <p><em>Example 3 (major sixth chord) m.3+</em> ch.4 (inv.1 or B <sub>6</sub> )</p>
    <p><em>Example 4 (minor sixth chord) b.3+</em> ch.4 (inv.1 or M <sub>6</sub> )</p>
    <p><em>Example 5 (first call mind <sup>5 </sup><sub>3</sub> ) m.3+sw.4</em> (inv.1 or mind <sub>6</sub> )</p>
    <p><em>Example 6 (first call uv <sup>5 </sup><sub>3</sub> ) b.3+</em> min.4 (inv.1 or uv <sub>6</sub> )</p>
    <p><strong>Quartsextachcord ( </strong><strong>inv </strong><strong>.2)</strong></p>
    <p>If the lower sound of the sixth chord is moved down an octave, then we get the second type of triad inversion -
      the quarter-sextakcord, in the bass the fifth tone of the chord.</p>
    <p>Its structure is a quart + third (4 + 3).</p>
    <p><em>Example 7 (major quadruple chord) ch.4+b.3</em> (inv.2 or B <sup>6 </sup><sub>4</sub> )</p>
    <p><em>Example 8 (minor quarter chord) ch.4+m.3</em> (inv.2 or M <sup>6 </sup><sub>4</sub> )</p>
    <p><em>Example 9 (second appeal mind <sup>5 </sup><sub>3</sub> ) uv.4+m.3</em> (inv.2 or mind <sup>6
      </sup><sub>4</sub> )</p>
    <p><em>Example 10 (second appeal SW <sup>5 </sup><sub>3</sub> ) w.4+m.3</em> (inv.2 or SW <sup>6 </sup><sub>4</sub>
      )</p>
    <p><strong>The names sextakkord and kvartsextakkord reveal the interval structure of the chord from the lower sound
        to the main tone - in</strong> the sixth chord from the third to the main tone, a sixth is built <strong>, in
        the quarter-sextakkord</strong> from the fifth to the main tone, a quart is built.</p>
    <p><strong>Seventh chord inversions</strong></p>
    <p>The seventh chord has three appeals: quintsextachord (inv.1), third quarter chord (inv.2), second chord (inv.3).
    </p>
    <p><em>Example 11 (dominant seventh/minor major seventh)</em></p>
    <p>As with triad inversions, the names of the seventh chord reveal their interval structure, first of all, which is
      formed between the main and seventh tone and the sound in the bass.</p>
    <p><strong>Quintsextachord ( </strong><strong>inv.1 </strong><strong>)</strong></p>
    <p><em>Example 12 (dominant fifth chord, </em><em>inv </em><em>.1 or </em><em>D </em><em><sup>6
        </sup></em><em><sub>5</sub></em><em> )</em></p>
    <p>From the terts tone, which is in the bass to the sept and the main, a fifth and a sixth are formed.</p>
    <p>The structure of the Quintsextachord: 3 + 3 + 2</p>
    <p><strong>Terzquartakcord ( </strong><strong>inv </strong><strong>.2)</strong></p>
    <p><em>Example 13 (dominant third quarter chord, </em><em>inv </em><em>.2 or </em><em>D </em><em><sup>4
        </sup></em><em><sub>3</sub></em><em> )</em></p>
    <p>From the fifth tone, which is in the bass, to the seventh and main, a third and a fourth are formed.</p>
    <p>The structure of the third quarter chord 3 + 2 + 3</p>
    <p><strong>Second chord ( </strong><strong>inv </strong><strong>.3)</strong></p>
    <p><em>Example 14 (dominant second chord, </em><em>inv </em><em>.3 or </em><em>D </em><em><sub>2</sub></em><em>
        )</em></p>
    <p>From the seventh tone, which is in the bass, to the main one, a second is formed.</p>
    <p>Second chord structure (2+3+3)</p>
    <p>Multi-tone chords are used only in the main form, the only exception is a non-chord with a fifth tone in the
      bass.</p>
    <p><em>Example 15 ( </em><em>E </em><em><sup>9</sup></em><em> / </em><em>H </em><em>- bass nonchord)</em></p>
  </div>
</div>