<h2>Ритмы</h2>
<p>Музыка состоит из трех элементов: мелодия, гармония и ритм. О мелодии и гармонии мы уже узнали достаточно много (гаммы, аккорды). Теперь займемся ритмом.</p>
<p><strong>Ритм - это последовательность равномерных или неравномерных пульсаций.</strong></p>
<p>Ритм придает музыке порядок, движение. Ритм это то, под что вы можете танцевать или кивать головой.</p>
<p>Наше изучение ритма мы начнем с некоторых базовых понятий</p>
<ul>
  <li><strong>Доля</strong> - представьте себе часы, тикающие каждую секунду, т.е., тикающие 60 раз в минуту. Каждый тик - доля. Когда время разделено на равные промежутки - каждый из них доля. Таким образов, удар - базовая единица времени. Доли бывают сильные и слабые. Сильная доля - доля, на которой в музыке делается акцентр придания ритмической пульсации.</li>
  <li><strong>Метр</strong> - последовательность сильных и слабых долей в произведении. Метр можно представить как линейку, разделяющую время на равные промежутки, которые состоят из ещё болеее мелких промежутков.</li>
  <li><strong>Темп</strong> - скорость чередования ударов. Темп часто обозначает скорость, с которой играется произведение.</li>
  <li><strong>Длительность ноты</strong> - обозначает продолжительность звучания ноты.</li>
  <li><strong>Пауза</strong> - тишина в мелодии. Паузы, как и ноты, обладают длительностью. Это обозначает, что каждый раз, как вы увидите знак паузы, вы должны остановиться на длительность этой паузы.</li>
</ul>
<h2>Длительности нот</h2>
<p>В зависимости от длительности, у каждой ноты есть название. Мы представим 5 самых часто встречающихся длительностей.</p>
<h3>Целая нота</h3>
<p>Целая - самая длительная нота из всех. В размере 4/4 она занимает все доли.</p>
<h3>Половинная</h3>
<p>Эта длительность, как не трудно догадаться, равна половине целой ноты. В размере 4/4 такая нота занимает 2 доли.</p>
<h3>Четвертная нота</h3>
<p>Четверть в 4 раза короче целой ноты и в 2 раза короче половинной. В размере 4/4 такая нота звучит ровно одну долю.</p>
<h3>Восьмая</h3>
<p>Восьмая - половина четверти, занимает одну вторую доли в 4/4. Две или более восьмые ноты могут быть объединены ребрами</p>
<h3>Шестнадцатая</h3>
<p>Шестнадцатая нота в 16 раз короче целой и составляет четверть доли в размере 4/4.</p>
<p>Ниже представлено дерево показывающее, как ноты делятся в зависимости от длительности.</p>
<p>А также таблица, показывающая длительности и соответствующие им символы.</p>
<h2>Размер</h2>
<p>Размер - значение, используемое в музыке для указания количества долей в такте и величины каждой доли. Размер записывается в начале произведения.</p>
<p>Здесь размер 4/4. Существует множество других размеров: 3/4, 6/8 и т.д. Однако 4/4, пожалуй, самый распространенный.</p>
<p>Число наверху обозначает количество долей в такте. В нашем примере их 4. Если бы размер был 6/8, в каждом такте было бы 6 долей.</p>
<p>Число внизу обозначает длительность каждой доли. Если, например, оно равно 4, это означает, что каждая доля равно по длительности четвертной ноте. Если же оно равно, например 8, доля равна восьмой ноте.</p>
<p>На этом мы завершим наше обсуждение ритма.</p>