<div class="tabs">
<input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
<label for="tab-btn-1">Аккорды</label>
<input type="radio" name="tab-btn" id="tab-btn-2" value="">
<label for="tab-btn-2">Трезвучия</label>
<input type="radio" name="tab-btn" id="tab-btn-3" value="">
<label for="tab-btn-3">Септаккорды</label>
<input type="radio" name="tab-btn" id="tab-btn-4" value="">
<label for="tab-btn-4">Обращения</label>

<div id="content-1">
<h2>Аккорды</h2>
<p><strong>Аккорд (от латинского akordare — согласовывать) – </strong>это самостоятельное созвучие, построенное по определённому принципу. Отметим, что созвучием мы можем назвать и интервал (два звука), однако в аккорде, как правило, три и более звуков.</p>
<p>Традиционная теория музыки разделяет понятия аккорда и неаккорда (конструкция случайного сочетания нескольких звуков).</p>
<p>До XX века <strong>аккордами</strong> считались только такие самостоятельные созвучия, звуки которых можно расположить по терциям (<strong>терцовые аккорды</strong>).</p>
<p><strong><u>Примечание:</u></strong> <strong>Терция</strong> – интервал из трёх ступеней. Малая терция (м.3/ 1,5 тона) содержит полтора тона, большая (б.3/ 2 тона), уменьшённая терция (ум.3/ 1 тон) и увеличенная терция (ув.3/ 2,5 тона). Правильное построение терций поможет в освоении аккордов.</p>
<p>Если строить терции на фортепиано, то на белых клавишах (на основных ступенях), строится три большие терции – от до, фа и соль, и четыре малых терции – от ре, ми, ля и си. Зная, что соль-си большая терция, и видя знаки альтерации возле нот, можно догадаться об её изменениях. Если возле нот соль и си будут стоять бемоли или диезы, то терция останется большой (соль-бемоль – си-бемоль, соль-диез – си-диез). Диез возле ноты соль или бемоль возле си сделает терцию малой (соль-диез – си, соль – си-бемоль).</p>
<p>Пример 1 (терции от звука соль):</p>
<p><strong>Виды терцовых аккордов</strong></p>
<p>При определении аккордов учитываются структурные признаки<strong> – количество звуков и интервальный состав.</strong></p>
<p><strong>По количеству звуков </strong>в классической гармонии <strong>терцовые</strong> аккорды имеют от трёх до пяти, а в современной до семи звуков.</p>
<ol>
<li><strong>Трезвучие – </strong>три звука, содержит две терции, крайние звуки образуют квинту.</li>
</ol>
<p>Пример 2 (трезвучие):</p>
<ol start="2">
<li><strong>Септаккорд – </strong>четыре звука, содержит три терции, крайние звуки образуют септиму.</li>
</ol>
<p>Пример 3 (септаккорд):</p>
<ol start="3">
<li><strong>Нонаккорд </strong>– пять звуков, содержит четыре терции, крайние звуки образуют нону.</li>
</ol>
<p>Пример 4 (нонаккорд):</p>
<ol start="4">
<li><strong>Ундецимаккорд </strong>– шесть звуков, содержит пять терций, крайние звуки образуют ундециму.</li>
</ol>
<p>Пример 5 (ундецимаккорд):</p>
<ol start="5">
<li><strong>Терцдецимаккорд – </strong>семь звуков, содержит шесть терций, крайние звуки образуют терцдециму.</li>
</ol>
<p>Пример 6 (терцдецимаккорд):</p>
<p>Каждый тип аккордов имеет свои разновидности, в зависимости от <strong>терцового состава </strong>(интервальный состав). Так различают аккорду с двумя терциями, тремя, четырьмя, пятью, шестью. То есть трезвучия, септаккорды, нонаккорды, ундецимаккорды, терцдецимаккорды.</p>
<p><strong>Трезвучие </strong>(3 звука/2 терции): (подробности в статье Трезвучия)</p>
<ol>
<li>мажорное,</li>
<li>минорное,</li>
<li>уменьшённое,</li>
<li>увеличенное.</li>
</ol>
<p><strong>Септаккорд (</strong>4 звука/3 терции<strong>)</strong>: (подробности в статье Септаккорды)</p>
<ol>
<li>большой мажорный,</li>
<li>большой минорный,</li>
<li>малый мажорный,</li>
<li>малый минорный,</li>
<li>увеличенный,</li>
<li>уменьшённый,</li>
<li>малый уменьшённый.</li>
</ol>
<p>Многотерцовые аккорды (<strong>нонаккорд </strong>(5 звуков/ 4 терции)<strong>, ундецимаккорд </strong>(6 зв./ 5 т.)<strong> и терцдецимаккорд </strong>(7 зв./ 6 т.)) различаются по виду септаккорда в их основе и по виду ноны, ундецимы, терцдецимы. Например, существует термин «<strong>малый доминантовый нонаккорд</strong>», в основе которого лежит доминантовый септаккорд и малая нона.</p>
<p><strong>Нонаккорд: </strong>(подробности в статье Септаккорды):</p>
<ol>
<li>большой мажорный септаккорд + большая нона</li>
<li>малый мажорный септаккорд + большая нона</li>
<li>малый минорный септаккорд + большая нона</li>
<li>малый мажорный септаккорд + малая нона</li>
</ol>
<p><strong>NB</strong> В упражнениях данный аккорд будет обозначаться как Доминантнонаккорд<sub>9</sub> (б.3+м.3+м.3+м.3 или Б<sub>5</sub><sup>3</sup>+Ум<sub>5</sub><sup>3</sup>)</p>
<p>Пример 7 (доминантовый нонаккорд):</p>
<p>В наших упражнениях на аккорды вы познакомитесь с тремя видами нонаккордов, подробнее о них мы напишем в статье Септаккорды.</p>
<p><strong>NB</strong> Полная классификация всех аккордов по интервальному признаку разработана в джазовой теории и практике.</p>
<p><strong>Нетерцовые аккорды</strong></p>
<p>Аккорды <strong>нетерцового</strong> строения делятся на две основные группы:</p>
<ol>
<li>Аккорды, образовавшиеся вследствие видоизменения терцовой структуры.</li>
</ol>
<p>Пример 8 (трезвучие с заменным терцовым тоном образовало нетерцовую структуру): </p>
<ol start="2">
<li>Нетерцовые аккорды. Например, кластер (по секундам), квартаккорд (строится по квартам).</li>
</ol>
<p>Пример 9 (кластер и квартаккорд):</p>
<p>Попробуем подробно рассмотреть такие терцовые аккорды как <strong>трезвучие</strong>, <strong>септаккорд</strong> и <strong>нонаккорд.</strong></p>
</div>


<div id="content-2">
<h2>Трезвучие</h2>
<p><strong>Трезвучие</strong> – созвучие, аккорд, звуки которого расположены по терциям (крайние звуки образуют квинту).</p>
<p><strong>Трезвучия бывают четырёх видов и различаются интервальным составом</strong>: мажорное (большое), минорное (малое), уменьшённое, увеличенное.</p>
<p>Звук, от которого аккорд располагается по терциям, называется <strong>основной тон. </strong>Далее идёт терцовый (второй звук) и квинтовый тон (третий звук). Если в басу аккорда находится основной тон, то это <strong>основная форма аккорда</strong>. Если в басу другой аккордовый тон, то это <strong>обращение </strong>(смотрите подробнее в статье обращение аккордов).</p>
<p><strong>Мажорное (большое) трезвучие </strong>состоит из большой и малой терции (Б<sup>5</sup><sub>3</sub>=б.3+м.3, в основе ч.5)</p>
<p>Пример 1 (мажорное трезвучие):</p>
<p><strong>NB</strong> В классической гармонии мажорное трезвучие (большое) обозначается как Б<sup>5</sup><sub>3</sub>, цифры означают, что от основного тона строится большая терция и чистая квинта. Соответственно минорное трезвучие, то есть малое, обозначается М<sup>5</sup><sub>3</sub>.</p>
<p><strong>Минорное (малое) трезвучие</strong> состоит из малой и большой терции (М<sup>5</sup><sub>3 </sub>= м.3+б.3, в основе ч.5).</p>
<p>Пример 2 (минорное трезвучие):</p>
<p><strong>Уменьшённое трезвучие</strong> состоит из двух малых терций (Ум.<sup>5</sup><sub>3 </sub>= м.3+м.3, в основе ум.5).</p>
<p>Пример 3 (уменьшённое трезвучие):</p>
<p><strong>Увеличенное трезвучие</strong> состоит из двух больших терций (Ув.<sup> 5</sup><sub>3 </sub>= б.3+б.3, в основе ув.5).</p>
<p>Пример 4 (увеличенное трезвучие):</p>
<p>В наших упражнения Вы также увидите такие аккорды как <strong>SUS</strong><strong>2</strong> и <strong>SUS</strong><strong>4</strong>. Это <strong>нетерцовые аккорды</strong>, которые можно рассматривать как трезвучия, с <strong>заменным терцовым тоном</strong>.</p>
<p><strong>SUS</strong><strong>2 – </strong>нетерцовый аккорд, состоящий из большой секунды и чистой кварты (крайние звуки образуют квинту).</p>
<p>Пример 5 (трезвучие с задержанной секундой):</p>
<p><strong>SUS</strong><strong>4 – </strong>нетерцовый аккорд, состоящий из чистой кварты и большой секунды (крайние звуки образуют квинту).</p>
<p>Пример 6 (трезвучие с задержанной квартой):</p>
<p><strong>Трезвучия в мажоре и миноре</strong></p>
<p>Мажорный и минорный лад определяется по главным ступеням – I (тоника/<strong>T</strong>), IV (субдоминанта/<strong>S</strong>) и V (доминанта/<strong>D</strong>).</p>
<p>Именно на этих ступенях в мажоре строятся мажорные трезвучия и минорные трезвучия в миноре. Они являются о<strong>сновой любой гармонии</strong> в мажорных или минорных композициях и называются <strong>главными трезвучиями</strong>. Остальные аккорды являются побочными и несут дополнительную функцию.</p>
<p>На ступенях мажорной гаммы можно построить три мажорных трезвучия (I, IV, V), три минорных трезвучия (II, III, VI) и одно уменьшённое трезвучие (VII). Если использовать <strong>гармонический вид мажора</strong>, в котором шестая ступень понижается на полтона, то можно построить ещё уменьшенное и минорное трезвучие, а также увеличенное трезвучие.</p>
<p>Пример 7 (трезвучия в До мажоре, включая гармонический вид):</p>
<p>На ступенях <strong>минорной гаммы</strong> можно построить три минорных трезвучия (I, IV, V), три мажорных трезвучия (III, VI, VII) и одно уменьшённое трезвучие (II). Если использовать <strong>гармонический вид минора</strong>, в котором седьмая ступень повышается на полтона, то можно построить ещё уменьшенное и мажорное трезвучие, а также увеличенное трезвучие. Отметим, что <strong>в минорных композициях</strong> чаще всего используется гармонический вид, таким образом трезвучие на пятой ступени (доминантовое) всегда будет мажорным.</p>
<p>Пример 7 (трезвучия в ля миноре, включая гармонический вид):</p>
</div>

<div id="content-3">
  <h2>Септаккорды</h2>
<p><strong>Септаккорд</strong> - аккорд из четырёх звуков, расположенных (или могут быть расположены) по терциям. Крайние звуки образуют септиму.</p>
<p>Как и трезвучия <strong>септаккорды определяются по интервальному составу</strong>, образуя таким образом семь основных видов септаккордов.</p>
<h3>Большой мажорный</h3>
<p>Интервальный состав большого — мажорного септаккорда: б.3+м.3+б.3 (либо Б<sup>5</sup><sub>3</sub> + б.3), крайние звуки образуют б.7.</p>
<p>Пример 1:</p>
<p>Встречаются разные <strong>обозначения</strong> этого аккорда: 1. maj7 2. M<sup>7</sup> 3. <sup>Δ</sup> 4. <sup>Δ7</sup></p>
<p>В натуральном мажоре этот аккорд можно построить на первой ступени, а в натуральном миноре на третьей ступени.</p>
<p><strong>Например,</strong> если необходимо сыграть большой мажорный септаккорд от звука до, то к обозначению будет добавлена буква «С»: 1. C<sup>maj7</sup> 2. СМ<sup>7</sup> 3. С<sup>Δ</sup> 4. C<sup>Δ7</sup></p>
<h3>Большой минорный</h3>
<p>Интервальный — состав большого — минорного септаккорда: м.3+б.3+б.3 (либо М<sup>5</sup>З + б.3), крайние звуки образуют б.7.</p>
<p>Пример 2:</p>
<p><strong>Обозначения:</strong> 1. m<sup>maj7</sup> 2. m<sup>M7</sup> 3. m<sup>Δ</sup> 4. -<sup>Δ7</sup></p>
<p>Большой минорный септаккорд можно построить в гармоническом мажоре на четвёртой ступени, а в гармоническом миноре на первой.</p>
<h3>Малый мажорный (известен как доминантовый септаккорд)</h3>
<p>Интервальный состав малого мажорного септаккорда: б.3+м.3+м.3 (либо Б<sup>5</sup>3 + м.3), крайние звуки образуют м.7</p>
<p>Пример 3:</p>
<p>Обозначение малого мажорного универсально, к ноте, от которого будет строиться аккорд добавляется цифра 7. (доминантовый септаккорд обозначается как D<sub>7</sub>).</p>
<p>Например, малый мажорный септаккорд от ноты ми: Е<sup>7</sup></p>
<p>Как известно, доминанта - это пятая ступень, поэтому доминантовый септаккорд строится на пятой ступени в натуральном мажоре и в гармоническом миноре.</p>
<h3>Малый минорный</h3>
<p>Интервальный состав малого минорного септаккорда: м.3+б.3+м.3 (либо М<sup>5</sup>З + м.3), крайние звуки образуют м.7</p>
<p>Пример 4:</p>
<p><strong>Обозначения:</strong> 1. m<sup>7</sup> 2. min<sup>7</sup> или mi<sup>7</sup> 3. -<sup>7</sup></p>
<p>Малый минорный септаккорд можно построить на II, III, IV в натуральном мажоре и на II, IV, V в натуральном миноре.</p>
<h2>Малый уменьшённый (или полууменьшённый)</h2>
<p>Интервальный состав малого  уменьшённого септаккорда: м.3+м.3+б.3 (либо Ум.<sup>5</sup><sub>3</sub> + б.3), крайние звуки образуют м.7</p>
<p>Пример 5:</p>
<p><strong>Обозначения:</strong> 1. m<sup>Ø</sup> 2. - <sup>7 (♭5)</sup> 3. п/ум.<sup>7</sup></p>
<p>Полууменьшённый септаккорд известен ещё как малый вводный септаккорд, который строится на седьмой ступени в натуральном мажоре (часто обозначается MVII7)</p>
<h3>Уменьшённый</h3>
<p>Интервальный состав уменьшённого септаккорда: м.3+м.3+м.3 (либо Ум.<sup>5</sup><sub>3</sub> + м.3), крайние звуки образуют ум.7</p>
<p>Пример 6:</p>
<p><strong>Обозначения:</strong> 1. <sup>°7</sup> 2. <sup>dim7</sup> 3. Ум.7</p>
<p>Уменьшённый септаккорд известен как вводный септаккорд и встречается на седьмой ступени гармонического мажора и минора. Это один из наиболее часто встречающихся септаккордов</p>
<h3>Увеличенный (большой увеличенный).</h3>
<p>Интервальный состав увеличенного септаккорда: б.3+б.3+м.3 (либо Ув.<sup>5</sup><sub>3</sub> + б.3), крайние звуки образуют б.7</p>
<p>Пример 7:</p>
<p><strong>Обозначения:</strong> 1. <sup>5+/maj7</sup> 2. maj<sup>7(#5)</sup> 3. +<sup>M7</sup> 4. + <sup>Δ7</sup></p>
<p>В гармоническом мажоре можно построить на VI ступени, а в гармоническом миноре на III.</p>
<p><strong>NB</strong> В упражнениях Вы встретите также нетерцовый септаккорд - Большой уменьшённый (будет соседствовать с Большим увеличенным септаккордом).</p>
<p>Интервальный состав большого уменьшённого септаккорда: м.3+м.3+ув.3 (либо Ум.<sup>5</sup><sub>3</sub>+ ув.3), крайние звуки образуют б.7</p>
<p>Пример 8</p>
<p>Возможное обозначение: 1. <sup>°maj7</sup> 2. <sup>dim Δ</sup> 3. Ув.<sup>7</sup></p>
<h2>Нонаккорды</h2>
<p>Нонаккорд - аккорд из пяти звуков, которые расположены (или могут быть расположены) по терциям.</p>
<p>Звучание нонаккорда определяет интервальный состав. В нонаккорде может быть пропущен квинтовый тон.</p>
<h3>Большой мажорный септаккорд + большая нона (мажорный нонаккорд)</h3>
<p>Обозначается maj<sup>9</sup> (в данном примере это Сmaj<sup>9</sup>).</p>
<h3>Малый мажорный септаккорд + большая нона (большой доминантнонаккорд)</h3>
<p>Обозначается <sup>9</sup> (в данном случае C<sup>9</sup>).</p>
<h3>Малый минорный септаккорд + большая нона (минорный нонаккорд)</h3>
<p>Обозначается m<sup>9</sup> (в примере это Cm<sup>9</sup>)</p>
<h3>Малый мажорный септаккорд + малая нона (малый доминантнонаккорд)</h3>
<p>Это «малый доминантовый нонаккорд», в основе которого лежит доминантовый септаккорд и малая нона.</p>
<p>Малый доминантовый нонаккорд (или D<sup>9</sup>) с секстой без квинтового тона называется у А. Скрябина «Прометей-аккорд», а для Ф. Шопена был характерен D<sup>9</sup> с секстой.</p>
</div>

<div id="content-4">
  <h2>Обращения аккордов</h2>
  <p>Каждый терцовый аккорд (трезвучие, септаккорд, нонаккорд) имеет несколько видов обращений.</p>
  <p>Звук, от которого аккорд располагается по терциям называется <strong>основной тон</strong>.</p>
  <p>Если в басу аккорда находится основной тон, то это <strong>основная форма аккорда (</strong><strong>root</strong><strong>). </strong></p>
  <p><em>Пример 1: (мажорное трезвучие в основном виде Б<sup>5</sup><sub>3</sub>)</em></p>
  <p>Если в басу находится другой тон, то это <strong>обращение (</strong><strong>inv</strong><strong>ersion)</strong>.</p>
  <p>Например, если в басу терцовый тон, а в верхних голосах трезвучие, то это в любом случае обращение.</p>
  <p><em>Пример 2: (мажорный секстаккорд Б<sub>6</sub>)</em></p>
  <p>У трезвучий два обращения, у септаккорда три, а у нонаккорда четыре обращения.</p>
  <p>Рассмотрим подробней обращения трезвучий и септаккордов.</p>
  <p><strong>Обращения трезвучий</strong></p>
  <p><strong>У трезвучия есть два обращения: </strong>секстаккорд (inv.1) и квартсекстаккорд (inv.2).</p>
  <p><strong>Секстаккорд (</strong><strong>inv</strong><strong>.1)</strong></p>
  <p>Если нижний звук трезвучия перенести на октаву выше, то получится первый вид обращения – секстаккорд, в басу терцовый тон аккорда.</p>
  <p>Его строение терция+кварта (3+4).</p>
  <p><em>Пример 3 (мажорный секстаккорд) м.3+ч.4 </em>(inv.1 или Б<sub>6</sub>)</p>
  <p><em>Пример 4 (минорный секстаккорд) б.3+ч.4 </em>(inv.1 или М<sub>6</sub>)</p>
  <p><em>Пример 5 (первое обращение ум<sup>5</sup><sub>3</sub>) м.3+ув.4 </em>(inv.1 или ум<sub>6</sub>)</p>
  <p><em>Пример 6 (первое обращение ув<sup> 5</sup><sub>3</sub>) б.3+ум.4 </em>(inv.1 или ув<sub>6</sub>)</p>
  <p><strong>Квартсекстаккорд (</strong><strong>inv</strong><strong>.2)</strong></p>
  <p>Если нижний звук секстаккорда перенести на октаву вниз, то получится второй вид обращения трезвучия – квартсекстаккорд, в басу квинтовый тон аккорда.</p>
  <p>Его строение кварта+терция (4+3).</p>
  <p><em>Пример 7 (мажорный квартсекстаккорд) ч.4+б.3 </em>(inv.2 или Б<sup>6</sup><sub>4</sub>)</p>
  <p><em>Пример 8 (минорный квартсекстаккорд) ч.4+м.3 </em>(inv.2 или М<sup>6</sup><sub>4</sub>)</p>
  <p><em>Пример 9 (второе обращение ум<sup>5</sup><sub>3</sub>) ув.4+м.3 </em>(inv.2 или ум<sup>6</sup><sub>4</sub>)</p>
  <p><em>Пример 10 (второе обращение ув<sup> 5</sup><sub>3</sub>) ум.4+м.3 </em>(inv.2 или ув<sup>6</sup><sub>4</sub>)</p>
  <p><strong>Названия секстаккорд и квартсекстаккорд раскрывают интервальное строение аккорда от нижнего звука до основного тона – в секстаккорде </strong>от терцового до основного строится секста<strong>, в квартсекстаккорда </strong>от квинтового до основного тона строится кварта.</p>
  <p><strong>Обращения септаккорда</strong></p>
  <p>У септаккорда три обращения: квинтсекстаккорд (inv.1), терцквартаккорд (inv.2), секундаккорд (inv.3).</p>
  <p><em>Пример 11 (доминантовый септаккорд/малый мажорный септаккорд)</em></p>
  <p>Как и у обращений трезвучия, названия септаккорда раскрывают их интервальное строение, прежде всего, которое образуется между основным и септовым тоном и звуком, находящимся в басу.</p>
  <p><strong>Квинтсекстаккорд (</strong><strong>inv</strong><strong>.1)</strong></p>
  <p><em>Пример 12 (доминантовый квинтсекстаккорд, </em><em>inv</em><em>.1 или </em><em>D</em><em><sup>6</sup></em><em><sub>5</sub></em><em>)</em></p>
  <p>От терцового тона, который находится в басу до септового и основного образуется квинта и секста.</p>
  <p>Строение квинтсекстаккорда: 3+3+2</p>
  <p><strong>Терцквартаккорд (</strong><strong>inv</strong><strong>.2)</strong></p>
  <p><em>Пример 13 (доминантовый терцквартаккорд, </em><em>inv</em><em>.2 или </em><em>D</em><em><sup>4</sup></em><em><sub>3</sub></em><em>)</em></p>
  <p>От квинтового тона, который находится в басу, до септового и основного образуется терция и кварта.</p>
  <p>Строение терцквартаккорда 3+2+3</p>
  <p><strong>Секундаккорд (</strong><strong>inv</strong><strong>.3)</strong></p>
  <p><em>Пример 14 (доминантовый секундаккорд, </em><em>inv</em><em>.3 или </em><em>D</em><em><sub>2</sub></em><em>)</em></p>
  <p>От септового тона, который находится в басу до основного образуется секунда.</p>
  <p>Строение секундаккорда (2+3+3)</p>
  <p>Многотерцовые аккорды применяются только в основном виде, единственное исключение – нонаккорд с квинтовым тоном в басу.</p>
  <p><em>Пример 15 (</em><em>E</em><em><sup>9</sup></em><em>/</em><em>H</em><em> – нонаккорд на басу си)</em></p>
</div>
</div>