<h2>Обращения аккордов</h2>
<p>Каждый терцовый аккорд (трезвучие, септаккорд, нонаккорд) имеет несколько видов обращений.</p>
<p>Звук, от которого аккорд располагается по терциям называется <strong>основной тон</strong>.</p>
<p>Если в басу аккорда находится основной тон, то это <strong>основная форма аккорда (</strong><strong>root</strong><strong>). </strong></p>
<p><em>Пример 1: (мажорное трезвучие в основном виде Б<sup>5</sup><sub>3</sub>)</em></p>
<p>Если в басу находится другой тон, то это <strong>обращение (</strong><strong>inv</strong><strong>ersion)</strong>.</p>
<p>Например, если в басу терцовый тон, а в верхних голосах трезвучие, то это в любом случае обращение.</p>
<p><em>Пример 2: (мажорный секстаккорд Б<sub>6</sub>)</em></p>
<p>У трезвучий два обращения, у септаккорда три, а у нонаккорда четыре обращения.</p>
<p>Рассмотрим подробней обращения трезвучий и септаккордов.</p>
<p><strong>Обращения трезвучий</strong></p>
<p><strong>У трезвучия есть два обращения: </strong>секстаккорд (inv.1) и квартсекстаккорд (inv.2).</p>
<p><strong>Секстаккорд (</strong><strong>inv</strong><strong>.1)</strong></p>
<p>Если нижний звук трезвучия перенести на октаву выше, то получится первый вид обращения – секстаккорд, в басу терцовый тон аккорда.</p>
<p>Его строение терция+кварта (3+4).</p>
<p><em>Пример 3 (мажорный секстаккорд) м.3+ч.4 </em>(inv.1 или Б<sub>6</sub>)</p>
<p><em>Пример 4 (минорный секстаккорд) б.3+ч.4 </em>(inv.1 или М<sub>6</sub>)</p>
<p><em>Пример 5 (первое обращение ум<sup>5</sup><sub>3</sub>) м.3+ув.4 </em>(inv.1 или ум<sub>6</sub>)</p>
<p><em>Пример 6 (первое обращение ув<sup> 5</sup><sub>3</sub>) б.3+ум.4 </em>(inv.1 или ув<sub>6</sub>)</p>
<p><strong>Квартсекстаккорд (</strong><strong>inv</strong><strong>.2)</strong></p>
<p>Если нижний звук секстаккорда перенести на октаву вниз, то получится второй вид обращения трезвучия – квартсекстаккорд, в басу квинтовый тон аккорда.</p>
<p>Его строение кварта+терция (4+3).</p>
<p><em>Пример 7 (мажорный квартсекстаккорд) ч.4+б.3 </em>(inv.2 или Б<sup>6</sup><sub>4</sub>)</p>
<p><em>Пример 8 (минорный квартсекстаккорд) ч.4+м.3 </em>(inv.2 или М<sup>6</sup><sub>4</sub>)</p>
<p><em>Пример 9 (второе обращение ум<sup>5</sup><sub>3</sub>) ув.4+м.3 </em>(inv.2 или ум<sup>6</sup><sub>4</sub>)</p>
<p><em>Пример 10 (второе обращение ув<sup> 5</sup><sub>3</sub>) ум.4+м.3 </em>(inv.2 или ув<sup>6</sup><sub>4</sub>)</p>
<p><strong>Названия секстаккорд и квартсекстаккорд раскрывают интервальное строение аккорда от нижнего звука до основного тона – в секстаккорде </strong>от терцового до основного строится секста<strong>, в квартсекстаккорда </strong>от квинтового до основного тона строится кварта.</p>
<p><strong>Обращения септаккорда</strong></p>
<p>У септаккорда три обращения: квинтсекстаккорд (inv.1), терцквартаккорд (inv.2), секундаккорд (inv.3).</p>
<p><em>Пример 11 (доминантовый септаккорд/малый мажорный септаккорд)</em></p>
<p>Как и у обращений трезвучия, названия септаккорда раскрывают их интервальное строение, прежде всего, которое образуется между основным и септовым тоном и звуком, находящимся в басу.</p>
<p><strong>Квинтсекстаккорд (</strong><strong>inv</strong><strong>.1)</strong></p>
<p><em>Пример 12 (доминантовый квинтсекстаккорд, </em><em>inv</em><em>.1 или </em><em>D</em><em><sup>6</sup></em><em><sub>5</sub></em><em>)</em></p>
<p>От терцового тона, который находится в басу до септового и основного образуется квинта и секста.</p>
<p>Строение квинтсекстаккорда: 3+3+2</p>
<p><strong>Терцквартаккорд (</strong><strong>inv</strong><strong>.2)</strong></p>
<p><em>Пример 13 (доминантовый терцквартаккорд, </em><em>inv</em><em>.2 или </em><em>D</em><em><sup>4</sup></em><em><sub>3</sub></em><em>)</em></p>
<p>От квинтового тона, который находится в басу, до септового и основного образуется терция и кварта.</p>
<p>Строение терцквартаккорда 3+2+3</p>
<p><strong>Секундаккорд (</strong><strong>inv</strong><strong>.3)</strong></p>
<p><em>Пример 14 (доминантовый секундаккорд, </em><em>inv</em><em>.3 или </em><em>D</em><em><sub>2</sub></em><em>)</em></p>
<p>От септового тона, который находится в басу до основного образуется секунда.</p>
<p>Строение секундаккорда (2+3+3)</p>
<p>Многотерцовые аккорды применяются только в основном виде, единственное исключение – нонаккорд с квинтовым тоном в басу.</p>
<p><em>Пример 15 (</em><em>E</em><em><sup>9</sup></em><em>/</em><em>H</em><em> – нонаккорд на басу си)</em></p>