<h2>Септаккорды</h2>
<p><strong>Септаккорд</strong> - аккорд из четырёх звуков, расположенных (или могут быть расположены) по терциям. Крайние звуки образуют септиму.</p>
<p>Как и трезвучия <strong>септаккорды определяются по интервальному составу</strong>, образуя таким образом семь основных видов септаккордов.</p>
<h3>Большой мажорный</h3>
<p>Интервальный состав большого — мажорного септаккорда: б.3+м.3+б.3 (либо Б<sup>5</sup><sub>3</sub> + б.3), крайние звуки образуют б.7.</p>
<p>Пример 1:</p>
<p>Встречаются разные <strong>обозначения</strong> этого аккорда: 1. maj7 2. M<sup>7</sup> 3. <sup>Δ</sup> 4. <sup>Δ7</sup></p>
<p>В натуральном мажоре этот аккорд можно построить на первой ступени, а в натуральном миноре на третьей ступени.</p>
<p><strong>Например,</strong> если необходимо сыграть большой мажорный септаккорд от звука до, то к обозначению будет добавлена буква «С»: 1. C<sup>maj7</sup> 2. СМ<sup>7</sup> 3. С<sup>Δ</sup> 4. C<sup>Δ7</sup></p>
<h3>Большой минорный</h3>
<p>Интервальный — состав большого — минорного септаккорда: м.3+б.3+б.3 (либо М<sup>5</sup>З + б.3), крайние звуки образуют б.7.</p>
<p>Пример 2:</p>
<p><strong>Обозначения:</strong> 1. m<sup>maj7</sup> 2. m<sup>M7</sup> 3. m<sup>Δ</sup> 4. -<sup>Δ7</sup></p>
<p>Большой минорный септаккорд можно построить в гармоническом мажоре на четвёртой ступени, а в гармоническом миноре на первой.</p>
<h3>Малый мажорный (известен как доминантовый септаккорд)</h3>
<p>Интервальный состав малого мажорного септаккорда: б.3+м.3+м.3 (либо Б<sup>5</sup>3 + м.3), крайние звуки образуют м.7</p>
<p>Пример 3:</p>
<p>Обозначение малого мажорного универсально, к ноте, от которого будет строиться аккорд добавляется цифра 7. (доминантовый септаккорд обозначается как D<sub>7</sub>).</p>
<p>Например, малый мажорный септаккорд от ноты ми: Е<sup>7</sup></p>
<p>Как известно, доминанта - это пятая ступень, поэтому доминантовый септаккорд строится на пятой ступени в натуральном мажоре и в гармоническом миноре.</p>
<h3>Малый минорный</h3>
<p>Интервальный состав малого минорного септаккорда: м.3+б.3+м.3 (либо М<sup>5</sup>З + м.3), крайние звуки образуют м.7</p>
<p>Пример 4:</p>
<p><strong>Обозначения:</strong> 1. m<sup>7</sup> 2. min<sup>7</sup> или mi<sup>7</sup> 3. -<sup>7</sup></p>
<p>Малый минорный септаккорд можно построить на II, III, IV в натуральном мажоре и на II, IV, V в натуральном миноре.</p>
<h2>Малый уменьшённый (или полууменьшённый)</h2>
<p>Интервальный состав малого  уменьшённого септаккорда: м.3+м.3+б.3 (либо Ум.<sup>5</sup><sub>3</sub> + б.3), крайние звуки образуют м.7</p>
<p>Пример 5:</p>
<p><strong>Обозначения:</strong> 1. m<sup>Ø</sup> 2. - <sup>7 (♭5)</sup> 3. п/ум.<sup>7</sup></p>
<p>Полууменьшённый септаккорд известен ещё как малый вводный септаккорд, который строится на седьмой ступени в натуральном мажоре (часто обозначается MVII7)</p>
<h3>Уменьшённый</h3>
<p>Интервальный состав уменьшённого септаккорда: м.3+м.3+м.3 (либо Ум.<sup>5</sup><sub>3</sub> + м.3), крайние звуки образуют ум.7</p>
<p>Пример 6:</p>
<p><strong>Обозначения:</strong> 1. <sup>°7</sup> 2. <sup>dim7</sup> 3. Ум.7</p>
<p>Уменьшённый септаккорд известен как вводный септаккорд и встречается на седьмой ступени гармонического мажора и минора. Это один из наиболее часто встречающихся септаккордов</p>
<h3>Увеличенный (большой увеличенный).</h3>
<p>Интервальный состав увеличенного септаккорда: б.3+б.3+м.3 (либо Ув.<sup>5</sup><sub>3</sub> + б.3), крайние звуки образуют б.7</p>
<p>Пример 7:</p>
<p><strong>Обозначения:</strong> 1. <sup>5+/maj7</sup> 2. maj<sup>7(#5)</sup> 3. +<sup>M7</sup> 4. + <sup>Δ7</sup></p>
<p>В гармоническом мажоре можно построить на VI ступени, а в гармоническом миноре на III.</p>
<p><strong>NB</strong> В упражнениях Вы встретите также нетерцовый септаккорд - Большой уменьшённый (будет соседствовать с Большим увеличенным септаккордом).</p>
<p>Интервальный состав большого уменьшённого септаккорда: м.3+м.3+ув.3 (либо Ум.<sup>5</sup><sub>3</sub>+ ув.3), крайние звуки образуют б.7</p>
<p>Пример 8</p>
<p>Возможное обозначение: 1. <sup>°maj7</sup> 2. <sup>dim Δ</sup> 3. Ув.<sup>7</sup></p>
<h2>Нонаккорды</h2>
<p>Нонаккорд - аккорд из пяти звуков, которые расположены (или могут быть расположены) по терциям.</p>
<p>Звучание нонаккорда определяет интервальный состав. В нонаккорде может быть пропущен квинтовый тон.</p>
<h3>Большой мажорный септаккорд + большая нона (мажорный нонаккорд)</h3>
<p>Обозначается maj<sup>9</sup> (в данном примере это Сmaj<sup>9</sup>).</p>
<h3>Малый мажорный септаккорд + большая нона (большой доминантнонаккорд)</h3>
<p>Обозначается <sup>9</sup> (в данном случае C<sup>9</sup>).</p>
<h3>Малый минорный септаккорд + большая нона (минорный нонаккорд)</h3>
<p>Обозначается m<sup>9</sup> (в примере это Cm<sup>9</sup>)</p>
<h3>Малый мажорный септаккорд + малая нона (малый доминантнонаккорд)</h3>
<p>Это «малый доминантовый нонаккорд», в основе которого лежит доминантовый септаккорд и малая нона.</p>
<p>Малый доминантовый нонаккорд (или D<sup>9</sup>) с секстой без квинтового тона называется у А. Скрябина «Прометей-аккорд», а для Ф. Шопена был характерен D<sup>9</sup> с секстой.</p>