<h2>Трезвучие</h2>
<p><strong>Трезвучие</strong> – созвучие, аккорд, звуки которого расположены по терциям (крайние звуки образуют квинту).</p>
<p><strong>Трезвучия бывают четырёх видов и различаются интервальным составом</strong>: мажорное (большое), минорное (малое), уменьшённое, увеличенное.</p>
<p>Звук, от которого аккорд располагается по терциям, называется <strong>основной тон. </strong>Далее идёт терцовый (второй звук) и квинтовый тон (третий звук). Если в басу аккорда находится основной тон, то это <strong>основная форма аккорда</strong>. Если в басу другой аккордовый тон, то это <strong>обращение </strong>(смотрите подробнее в статье обращение аккордов).</p>
<p><strong>Мажорное (большое) трезвучие </strong>состоит из большой и малой терции (Б<sup>5</sup><sub>3</sub>=б.3+м.3, в основе ч.5)</p>
<p>Пример 1 (мажорное трезвучие):</p>
<p><strong>NB</strong> В классической гармонии мажорное трезвучие (большое) обозначается как Б<sup>5</sup><sub>3</sub>, цифры означают, что от основного тона строится большая терция и чистая квинта. Соответственно минорное трезвучие, то есть малое, обозначается М<sup>5</sup><sub>3</sub>.</p>
<p><strong>Минорное (малое) трезвучие</strong> состоит из малой и большой терции (М<sup>5</sup><sub>3 </sub>= м.3+б.3, в основе ч.5).</p>
<p>Пример 2 (минорное трезвучие):</p>
<p><strong>Уменьшённое трезвучие</strong> состоит из двух малых терций (Ум.<sup>5</sup><sub>3 </sub>= м.3+м.3, в основе ум.5).</p>
<p>Пример 3 (уменьшённое трезвучие):</p>
<p><strong>Увеличенное трезвучие</strong> состоит из двух больших терций (Ув.<sup> 5</sup><sub>3 </sub>= б.3+б.3, в основе ув.5).</p>
<p>Пример 4 (увеличенное трезвучие):</p>
<p>В наших упражнения Вы также увидите такие аккорды как <strong>SUS</strong><strong>2</strong> и <strong>SUS</strong><strong>4</strong>. Это <strong>нетерцовые аккорды</strong>, которые можно рассматривать как трезвучия, с <strong>заменным терцовым тоном</strong>.</p>
<p><strong>SUS</strong><strong>2 – </strong>нетерцовый аккорд, состоящий из большой секунды и чистой кварты (крайние звуки образуют квинту).</p>
<p>Пример 5 (трезвучие с задержанной секундой):</p>
<p><strong>SUS</strong><strong>4 – </strong>нетерцовый аккорд, состоящий из чистой кварты и большой секунды (крайние звуки образуют квинту).</p>
<p>Пример 6 (трезвучие с задержанной квартой):</p>
<p><strong>Трезвучия в мажоре и миноре</strong></p>
<p>Мажорный и минорный лад определяется по главным ступеням – I (тоника/<strong>T</strong>), IV (субдоминанта/<strong>S</strong>) и V (доминанта/<strong>D</strong>).</p>
<p>Именно на этих ступенях в мажоре строятся мажорные трезвучия и минорные трезвучия в миноре. Они являются о<strong>сновой любой гармонии</strong> в мажорных или минорных композициях и называются <strong>главными трезвучиями</strong>. Остальные аккорды являются побочными и несут дополнительную функцию.</p>
<p>На ступенях мажорной гаммы можно построить три мажорных трезвучия (I, IV, V), три минорных трезвучия (II, III, VI) и одно уменьшённое трезвучие (VII). Если использовать <strong>гармонический вид мажора</strong>, в котором шестая ступень понижается на полтона, то можно построить ещё уменьшенное и минорное трезвучие, а также увеличенное трезвучие.</p>
<p>Пример 7 (трезвучия в До мажоре, включая гармонический вид):</p>
<p>На ступенях <strong>минорной гаммы</strong> можно построить три минорных трезвучия (I, IV, V), три мажорных трезвучия (III, VI, VII) и одно уменьшённое трезвучие (II). Если использовать <strong>гармонический вид минора</strong>, в котором седьмая ступень повышается на полтона, то можно построить ещё уменьшенное и мажорное трезвучие, а также увеличенное трезвучие. Отметим, что <strong>в минорных композициях</strong> чаще всего используется гармонический вид, таким образом трезвучие на пятой ступени (доминантовое) всегда будет мажорным.</p>
<p>Пример 7 (трезвучия в ля миноре, включая гармонический вид):</p>