<h2>Гаммы</h2>
<p>После подробного изучения понятия «Лад» можно смело приступать к изучению понятия «Тональность». После прочтения этой статьи у Вас не должно возникнуть проблем с игрой абсолютно любых гамм.</p>
<p>Напомним, что поступенно восходящее или нисходящее мелодическое движение звукоряда лада в пределах не менее октавы называется <strong>гамма</strong>.</p>
<p>Как мы выяснили, <strong>лад</strong> – это звукоряд, состоящий из устойчивых (I, III, V) и неустойчивых ступеней (II, IV, VI, VII).</p>
<p>В профессиональной европейской музыке XVII-XIX вв., и, отчасти, XX века – наиболее часто используются два лада – <strong>натуральный</strong> <em>мажор</em> и <strong>натуральный </strong><em>минор</em>. Первая ступень мажорного и минорного лада называется <strong>тоника</strong>, она является центром, к которому тяготеют все остальные ступени и аккорды лада.</p>
<p><strong><em><u>Например</u></em></strong><strong><em>,</em></strong> если мы построим от ноты <em>фа </em>мажорный и минорный лад (опираясь на тоновое строение этих ладов), то получим <strong>тональность </strong><em>Фа мажор</em> и <em>фа минор</em>.</p>
<p><strong><em><u>Примечание</u></em></strong><strong><em>: </em></strong>строение мажорного лада: <em>тон – тон – полутон – тон – тон – тон – полутон. </em>Строение минорного лада: <em>тон – полутон – тон – тон – полутон – тон – тон</em>.</p>
<p>Таким образом, <strong>тональность</strong> – определённое высотное положение мажорного или минорного лада в музыкальной системе. Каждый лад имеет двенадцать высотных положений, то есть двенадцать тональностей (12-ть мажорных и 12-ть минорных). Так как расстояние между клавишами неодинаковое, то для ступеней тональностей необходимы <strong>знаки альтерации</strong> (знаки повышения – <strong>диезы</strong>, и знаки понижения – <strong>бемоли</strong>). За каждой тональностью закреплены свои <em>постоянные</em> знаки альтерации. Как правило, они выставляются при ключе (скрипичном, басовом, теноровом <em>etc</em><em>.</em>) и называются ключевыми знаками.</p>
<p><strong><em><u>Например</u></em></strong>, если мы построим от ноты <em>до</em> минорную гамму, то нам необходимо будет применить три бемоля – <em>си-бемоль, ми-бемоль и ля-бемоль </em>(Рис. 1). А если решим построить от звука <em>ля</em> мажорную гамму, то нам необходимо будет использовать три диеза: <em>фа-диез, до-диез и соль-диез </em>(Рис. 2).</p>
<p><em>Рис. 1. </em>Тональность до минор.</p>
<p>Рис. 2. Тональность Ля мажор.</p>
<p>На белых клавишах можно построить только одну мажорную тональность – <em>До мажор</em>, и только одну минорную – <em>ля минор</em>. В этих тональностях отсутствуют ключевые знаки. Между собой эти тональности будут называться <strong>параллельными</strong>, так как их ступеневый состав и количество ключевых знаков совпадает. В мажоре параллельная тональность находится на VI ступени, в миноре на III.</p>
<p>Существует ещё одно определение мажорного и минорного лада, которое опирается на одновременное звучание трёх устойчивых ступеней (I-III-V), которые образуют аккорд – <em>трезвучие</em>. В мажорной тональности образуется большое трезвучие (Б<sub>5</sub><sup>3</sup>), в минорной – малое (М<sub>5</sub><sup>3</sup>). Об этих аккордах читайте в разделе «Аккорды: трезвучия».</p>
<p>Если мы начнём строить от звука <em>до </em>и от звука <em>ля </em>вверх чистые квинты (ч.5), а от этих звуков мажорные и, соответственно, минорные гаммы, то получим <em>семь мажорных </em>и<em> семь минорных диезных тональностей</em>. В каждой последующей тональности будет прибавляться по одному ключевому знаку (диезу), начиная с <em>фа-диеза</em>.</p>
<p><strong>Таблица диезных тональностей (параллельных между собой)</strong></p>
<table style="height:349px;" width="650">
<tbody>
<tr>
<td width="151"><strong>До-диез мажор</strong></td>
<td width="81">&nbsp;</td>
<td width="131"><img src="gamma-1.jpg" alt="Гамма 1"></td>
<td width="80"><strong>&nbsp;</strong></td>
<td width="179"><strong>ля-диез минор</strong></td>
</tr>
<tr>
<td width="151"><strong>Фа-диез мажор</strong></td>
<td width="81">ч.5 ↑</td>
<td width="131"></td>
<td width="80">ч.5 ↑</td>
<td width="179"><strong>ре-диез минор</strong></td>
</tr>
<tr>
<td width="151"><strong>Си мажор</strong></td>
<td width="81">ч.5 ↑</td>
<td width="131"></td>
<td width="80">ч.5 ↑</td>
<td width="179"><strong>соль-диез минор</strong></td>
</tr>
<tr>
<td width="151"><strong>Ми мажор</strong></td>
<td width="81">ч.5 ↑</td>
<td width="131"></td>
<td width="80">ч.5 ↑</td>
<td width="179"><strong>до-диез минор</strong></td>
</tr>
<tr>
<td width="151"><strong>Ля мажор</strong></td>
<td width="81">ч.5 ↑</td>
<td width="131"></td>
<td width="80">ч.5 ↑</td>
<td width="179"><strong>фа-диез минор</strong></td>
</tr>
<tr>
<td width="151"><strong>Ре мажор</strong></td>
<td width="81">ч.5 ↑</td>
<td width="131"></td>
<td width="80">ч.5 ↑</td>
<td width="179"><strong>си минор</strong></td>
</tr>
<tr>
<td width="151"><strong>Соль мажор</strong></td>
<td width="81">ч.5 ↑</td>
<td width="131"></td>
<td width="80">ч.5 ↑</td>
<td width="179"><strong>ми минор</strong></td>
</tr>
<tr>
<td width="151"><strong>До мажор</strong></td>
<td width="81">ч.5 ↑</td>
<td width="131"></td>
<td width="80">ч.5 ↑</td>
<td width="179"><strong>ля минор</strong></td>
</tr>
</tbody>
</table>
<p>Порядок появления диезов в тональностях следующий <em>фа – до – соль – ре – ля – ми – си</em> (обратим внимание, что он также строится по чистым квинтам (ч.5) вверх от <em>фа-диеза</em>), см. Рис.3.</p>
<p><em>Рис.3. </em>Порядок и правильное написание ключевых знаков в диезных тональностях.</p>
<p>Если же от звука <em>до</em> и <em>ля</em> строить вниз чистые квинты (ч.5), то мы получим <em>семь</em> тоник <em>мажорных</em> и <em>семь</em> тоник <em>минорных бемольных тональностей</em>. В каждой тональности будет прибавляться по одному бемолю, начиная с <em>си-бемоля</em>.</p>
<p><strong>Таблица бемольных тональностей (параллельных между собой)</strong></p>
<table style="height:482px;" width="638">
<tbody>
<tr>
<td width="125"><strong>До мажор</strong></td>
<td width="74">ч.5↓</td>
<td width="176"></td>
<td width="70">ч.5↓</td>
<td width="179"><strong>ля минор</strong></td>
</tr>
<tr>
<td width="125"><strong>Фа мажор</strong></td>
<td width="74">ч.5↓</td>
<td width="176"></td>
<td width="70">ч.5↓</td>
<td width="179"><strong>ре минор</strong></td>
</tr>
<tr>
<td width="125"><strong>Си-бемоль мажор</strong></td>
<td width="74">ч.5↓</td>
<td width="176"></td>
<td width="70">ч.5↓</td>
<td width="179"><strong>соль минор</strong></td>
</tr>
<tr>
<td width="125"><strong>Ми-бемоль мажор</strong></td>
<td width="74">ч.5↓</td>
<td width="176"></td>
<td width="70">ч.5↓</td>
<td width="179"><strong>до минор</strong></td>
</tr>
<tr>
<td width="125"><strong>Ля-бемоль мажор</strong></td>
<td width="74">ч.5↓</td>
<td width="176"></td>
<td width="70">ч.5↓</td>
<td width="179"><strong>фа минор</strong></td>
</tr>
<tr>
<td width="125"><strong>Ре-бемоль мажор</strong></td>
<td width="74">ч.5↓</td>
<td width="176"></td>
<td width="70">ч.5↓</td>
<td width="179"><strong>си-бемоль минор</strong></td>
</tr>
<tr>
<td width="125"><strong>Соль-бемоль мажор</strong></td>
<td width="74">ч.5↓</td>
<td width="176"></td>
<td width="70">ч.5↓</td>
<td width="179"><strong>ми-бемоль минор</strong></td>
</tr>
<tr>
<td width="125"><strong>До-бемоль мажор</strong></td>
<td width="74">&nbsp;</td>
<td width="176"></td>
<td width="70">&nbsp;</td>
<td width="179"><strong>ля-бемоль минор</strong></td>
</tr>
</tbody>
</table>
<p>Порядок появления бемолей в тональностях следующий си – ми – ля – ре – соль – до – фа (по чистым квинтам (ч.5) вниз от ноты <em>си-бемоль</em>), см. Рис.4.</p>
<p><em>Рис.4. </em>Порядок и правильное написание ключевых знаков в бемольных тональностях.</p>
<p><strong><em><u>Примечание</u></em></strong><strong><em>: </em></strong>Секрет быстрого запоминания знаков в гаммах: в диезной мажорной тональности каждый новый знак находится на седьмой ступени. Зная порядок диезов не составит труда посчитать количество. В Ля мажоре VII ступень – <em>соль</em>, значит в этой тональности три диеза: <em>фа-до-соль</em>. В тональности До-диез мажор VII ступень – <em>си</em>, значит в этой тональности семь диезов: <em>фа-до-соль-ре-ля-ми-си</em>. Каждый новый бемоль в мажорных тональностях появляется на IV ступени. Так, например, в тональности Ля-бемоль мажор IV ступень – <em>ре</em>, значит в этой гамме четыре бемоля: <em>си-ми-ля-ре</em>. Помня о <em>параллельных тональностях</em> Вы с лёгкостью определите количество знаков в минорных гаммах.</p>
<p>
</p><p><strong>Три вида мажорного и минорного лада</strong></p>
<p>Мажорный и минорный лад имеют разновидности<strong>: натуральный вид, гармонический вид и мелодический вид</strong>. Натуральный мажор и минор мы рассматривали в разделе «Тональность».</p>
<p>В <strong>гармоническом мажоре</strong> VI ступень понижается на полтона (см. Рис.5).</p>
<p><strong><em><u>Примечание</u></em></strong>: Если надо понизить бемоль, то необходимо использовать знак дубль-бемоля (дважды-понижение, обозначается как <strong>♭♭</strong>), если необходимо понизить диез, то необходимо использовать знак альтерации <strong>бекар </strong>(знак отмены, обозначается как ). Чтобы повысить диез, используется знак дубль-диез (дважды-повышение, обозначается как ), чтобы повысить бемоль, необходимо использовать бекар.</p>
<p>
</p><p><em>Рис.5. </em>Ре мажор гармонического вида (гармонический Ре мажор).</p>
<p><strong><em><u>Примечание</u></em></strong>: Пониженную и повышенную ступень мы обозначаем плюсом (+) или минусом (–), встречаются также обозначения, когда возле ступени ставят ♭ или #, а также буквы «в» или «н».</p>
<p><em>Рис.6. </em>Гармонический си-бемоль минор.</p>
<p>В <strong>мелодическом мажоре</strong> VI и VII ступени понижаются на полтона (см. Рис.7).</p>
<p><em>Рис.7. </em>Мелодический Ре-бемоль мажор.</p>
<p>В <strong>мелодическом миноре</strong> VI и VII ступени повышаются на полтона (см. Рис.8).</p>
<p><em>Рис.8. </em>Мелодический соль-диез минор.</p>
<p>В отличие от натурального мажора и минора, у которых есть <strong>постоянные</strong> ключевые знаки, знаки, встречающиеся в гармоническом и мелодическом виде, будут называться <strong>случайными</strong> альтерационными знаками.</p>
<p>Применение этих видов мажорного и минорного лада является следствием развития ладовой системы в целях её б<em>о</em>льшего разнообразия.</p>