@import "./general/reset";

@import "./general/font";

@import "./keys/labels";

html {
  font-family: PFDinDisplayPro;
  box-sizing: border-box;
  font-size: 16px;
  background: url(../public/assets/img/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  height: 100vh;
}

.header {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  padding: 50px 0px 30px;
}

h1 {
  color: #00afae;
  font-size: 48px;
  letter-spacing: 2px;
  text-align: center;
}

button {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: left;
}

.animation {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: animation;
  animation-name: animation;
}
.fortepiano-field {
  width: 100%;
}
.piano {
  margin: 30px auto 0px;
  height: 100%;
  width: 1160px;
  padding: 1.5em;
  position: relative;
  border: 1px solid #160801;
  border-radius: 1em;
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)), url(../public/assets/img/wood.jpg);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5) inset, 0 1px rgba(212, 152, 125, 0.2) inset, 0 5px 15px rgba(0, 0, 0, 0.5);

  button {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    float: left;
  }
}

button {
  &[black="false"] {
    height: 190px;
    width: 40px;
    font-size: 12px;
    padding-top: 150px;
    z-index: 1;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-radius: 0 0 5px 5px;
    box-shadow: (-1px) 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 5px #ccc inset, 0 0 3px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #eee 0%, #fff 100%);

    &:active {
      border-top: 1px solid #777;
      border-left: 1px solid #999;
      border-bottom: 1px solid #999;
      box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1) inset, (-5px) 5px 20px rgba(0, 0, 0, 0.2) inset, 0 0 3px rgba(0, 0, 0, 0.2);
      background: linear-gradient(to bottom, #fff 0%, #e9e9e9 100%);
    }
  }

  &[black="true"] {
    height: 110px;
    padding-top: 60px;
    color: #666;
    font-size: 12px;
    width: 25px;
    margin: 0 0 0 -1em;
    z-index: 2;
    border: 1px solid #000;
    border-radius: 0 0 3px 3px;
    box-shadow: (-1px) -1px 2px rgba(255, 255, 255, 0.2) inset, 0 -5px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg, #222 0%, #555 100%);

    &:active {
      box-shadow: (-1px) -1px 2px rgba(255, 255, 255, 0.2) inset, 0 -2px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
      background: linear-gradient(to right, #444 0%, #222 100%);
    }
  }
}

.piano button {
  &:first-child {
    border-radius: 5px 0 5px 5px;
  }

  &:last-child {
    border-radius: 0 5px 5px 5px;
  }
}

.input {
  margin: 0 auto;
  text-align: center;
}

.textarea {
  height: 100px;
  width: 24em;
}

a {
  color: #00afae;
}  
a:-webkit-any-link {
  color: #00afae;
}

footer p {
  text-align: center;
}

#KeyW, #KeyE, #KeyT, #KeyY, #KeyU {
  margin: 0 0 0 -1em;
}

.main-menu {
  display: grid;
  justify-content: center;
  grid-template-areas: 
            "a a b b"
            "c c c c";
}

.main-menu button {
  padding: 16px 20px 15px;
  line-height: 14px;
  margin: 0 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #fff;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  box-sizing: border-box;
  min-width: 230px;
  transition: 1s;
}

.main-menu .main-menu__interval-game-btn {
  grid-area: a;
}
.main-menu .main-menu__fortepiano-btn {
  grid-area: b;
}
.main-menu .main-menu__user-day-statistic {
  grid-area: c;
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 30px 0px;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
}

.field__back-btn {
  line-height: 1;
  margin: 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #fff;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  font-weight: 900;
  font-size: 20px;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding-bottom: 4px;
}

.fortepiano-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.footer img {
  width: 60px;
  margin: 20px auto 0;
  display: block;
}

.main-menu__user-day-statistic {
  padding: 16px 20px 15px;
  line-height: 14px;
  margin: 0 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #fff;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  box-sizing: border-box;
  min-width: 200px;
  margin-top: 50px;
  text-align: center;
}
.user-day-statistic__title {
  color: #00afae;
  margin-bottom: 30px;
}
.user-day-statistic__exercises-counter, .user-day-statistic__score-counter, .user-day-statistic__time-counter {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 15px auto 10px;
}
.user-day-statistic__exercises-counter-number, .user-day-statistic__score-counter-number, .user-day-statistic__time-counter-number {
  width: 30px;
}
.main-menu button img {
  height: 14px;
  margin-right: 5px;
  margin-top: -3px;
  transition: 1s;
}
.main-menu button:hover {
  background: #00afae;
  color: #fff;
  box-shadow: 0 0 20px #999;
  border-color: #00afae;
}

.guest:hover {
  background: #00afae;
  color: #fff;
  box-shadow: 0 0 20px #999;
  border-color: #00afae;
}

.closemodal {
  display: none !important;
}

.main-menu button:hover img {
  filter: invert(1);
}
.user-day-statistic__exercises-counter-title, .user-day-statistic__score-counter-title, .user-day-statistic__time-counter-title {
  width: 110px;
  text-align: left;
}
.user-day-statistic__exercises-indicator-counter, .user-day-statistic__score-indicator-counter, .user-day-statistic__time-indicator-counter {
  width: 140px;
  height: 13px;
  margin: 0px;
  padding: 0px;
  -webkit-appearance: none;
  appearance: inherit;
}
progress::-webkit-progress-bar {
  background: #f1f1f1;
}
progress::-webkit-progress-value {
  background: #00afae;
}
.modal {
  width: 500px;
  height: 280px;
  transition: 1s;
  background: #fff;
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  left: 0;
  right: 0;
  border: 1px solid #ddd;
  box-shadow: 0 0 20px #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal h2 {
  text-align: center;
  font-size: 30px;
  color: #777;
  margin-bottom: 50px;
}
.guest {
  padding: 16px 20px 15px;
  line-height: 14px;
  margin: 0 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #fff;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  box-sizing: border-box;
  min-width: 230px;
  transition: 1s;
}
.page404 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page404__back-to-main-btn {
  padding: 16px 20px 15px;
  line-height: 14px;
  margin: 0px 0px 100px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #fff;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  box-sizing: border-box;
  min-width: 230px;
  transition: 1s;
}
.page404__back-to-main-btn:hover {
  background: #00afae;
  color: #fff;
  box-shadow: 0 0 20px #999;
  border-color: #00afae;
}
.page404 img {
  height: 220px;
}
button:nth-child(3),
button:nth-child(5),
button:nth-child(8),
button:nth-child(10),
button:nth-child(12),
button:nth-child(15),
button:nth-child(17),
button:nth-child(20),
button:nth-child(22),
button:nth-child(24),
button:nth-child(27),
button:nth-child(29),
button:nth-child(32),
button:nth-child(34),
button:nth-child(36),
button:nth-child(39),
button:nth-child(41),
button:nth-child(44),
button:nth-child(46),
button:nth-child(48),
button:nth-child(51),
button:nth-child(53),
button:nth-child(56),
button:nth-child(58),
button:nth-child(60) {
  margin-left: -13px;
}


@media (max-width: 1200px) {
  body {
    padding: 0px 20px;
  }
  .fortepiano-field {
    width: 100%;
  }
  .piano {
    width: 80%;
    overflow-x: scroll;
    display: -webkit-box;
  }
}