<<<<<<< HEAD
@import "./general/reset";

@import "./general/font";

@import "./keys/labels";

html {
  font-family: PFDinDisplayPro;
  box-sizing: border-box;
  font-size: 16px;
  background: url(../public/assets/img/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  height: 100vh;
}

.header {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  padding: 40px 0px 30px;
}

h1 {
  color: #00afae;
  font-size: 48px;
  letter-spacing: 2px;
  text-align: center;
}

button {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: left;
}

.animation {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: animation;
  animation-name: animation;
}
.piano {
  display: flex;
  margin: 30px auto 0px;
  height: 100%;
  width: 1160px;
  padding: 1.5em;
  position: relative;
  border: 1px solid #160801;
  border-radius: 1em;
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)), url(../public/assets/img/wood.jpg);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5) inset, 0 1px rgba(212, 152, 125, 0.2) inset, 0 5px 15px rgba(0, 0, 0, 0.5);

  button {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    float: left;
  }
}

button {
  &[black="false"] {
    height: 190px;
    width: 40px;
    font-size: 12px;
    padding-top: 150px;
    z-index: 1;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-radius: 0 0 5px 5px;
    box-shadow: (-1px) 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 5px #ccc inset, 0 0 3px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #eee 0%, #fff 100%);

    &:active {
      border-top: 1px solid #777;
      border-left: 1px solid #999;
      border-bottom: 1px solid #999;
      box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1) inset, (-5px) 5px 20px rgba(0, 0, 0, 0.2) inset, 0 0 3px rgba(0, 0, 0, 0.2);
      background: linear-gradient(to bottom, #fff 0%, #e9e9e9 100%);
    }
  }

  &[black="true"] {
    height: 110px;
    padding-top: 60px;
    color: #666;
    font-size: 12px;
    width: 25px;
    margin: 0 0 0 -1em;
    z-index: 2;
    border: 1px solid #000;
    border-radius: 0 0 3px 3px;
    box-shadow: (-1px) -1px 2px rgba(255, 255, 255, 0.2) inset, 0 -5px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg, #222 0%, #555 100%);

    &:active {
      box-shadow: (-1px) -1px 2px rgba(255, 255, 255, 0.2) inset, 0 -2px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
      background: linear-gradient(to right, #444 0%, #222 100%);
    }
  }
}

.piano button {
  &:first-child {
    border-radius: 5px 0 5px 5px;
  }

  &:last-child {
    border-radius: 0 5px 5px 5px;
  }
}

.input {
  margin: 0 auto;
  text-align: center;
}

.textarea {
  height: 100px;
  width: 24em;
}

a {
  color: #00afae;
}  
a:-webkit-any-link {
  color: #00afae;
}

footer p {
  text-align: center;
}

.main-menu {
  display: grid;
  justify-content: center;
  grid-template-areas: 
            "a a a"
            "b c d"
            "e f g";
}

.main-menu .main-menu__user-day-statistic {
  grid-area: a;
}
.main-menu .main-menu__interval-game-btn {
  grid-area: b;
}
.main-menu__fortepiano-btn {
  grid-area: c;
}
.main-menu .main-menu__fortepiano-btn {
  grid-area: d;
}
.main-menu__theory-btn {
  grid-area: e;
}
.main-menu__user-stats-btn {
  grid-area: f;
}
.main-menu__user-setting-btn {
  grid-area: g;
}
.main-menu button {
  padding: 16px 10px 15px;
  line-height: 14px;
  margin: 0 10px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #fff;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  box-sizing: border-box;
  width: 230px;
  transition: 1s;
}
.footer {
  position: absolute;
  bottom: 0;
  padding: 10px 0px;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
}

.field__back-btn {
  line-height: 1;
  margin: 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #fff;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  font-weight: 900;
  font-size: 20px;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding-bottom: 4px;
  transition: 1s;
}
.field__back-btn:hover {
  background: #00afae;
  color: #fff;
  box-shadow: 0 0 20px #999;
  border-color: #00afae;
}
.fortepiano-field {
  display: block;
}
.quiz-controls__question-indicator {
  margin-top: 10px;
}
.fortepiano-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer img {
  width: 60px;
  margin: 20px auto 0;
  display: block;
}

.main-menu__user-day-statistic {
  padding: 16px 20px 15px;
  line-height: 14px;
  margin: 0 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #fff;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  box-sizing: border-box;
  min-width: 200px;
  margin-bottom: 30px;
  text-align: center;
}
.user-day-statistic__title {
  color: #00afae;
  margin-bottom: 30px;
}
.user-day-statistic__exercises-counter, .user-day-statistic__score-counter, .user-day-statistic__time-counter {
  display: flex;
  justify-content: start;
  width: 500px;
  margin: 15px auto 10px;
}
.user-day-statistic__exercises-counter-number, .user-day-statistic__score-counter-number {
  width: 30px;
  text-align: left;
  margin-left: 20px;
}
.user-day-statistic__time-counter-number {
  width: 150px;
  text-align: left;
  margin-left: 20px;
}
.user-day-statistic__counters {
  padding-left: 50px;
}
.main-menu button img {
  height: 14px;
  margin-right: 5px;
  margin-top: -3px;
  transition: 1s;
}
.main-menu button:hover {
  background: #00afae;
  color: #fff;
  box-shadow: 0 0 20px #999;
  border-color: #00afae;
}

.guest:hover {
  background: #00afae;
  color: #fff;
  box-shadow: 0 0 20px #999;
  border-color: #00afae;
}

.closemodal {
  display: none !important;
}

.main-menu button:hover img {
  filter: invert(1);
}
.user-day-statistic__exercises-counter-title, .user-day-statistic__score-counter-title, .user-day-statistic__time-counter-title {
  width: 140px;
  text-align: left;
  margin-right: 15px;
}
.user-day-statistic__exercises-indicator-counter, .user-day-statistic__score-indicator-counter, .user-day-statistic__time-indicator-counter {
  width: 140px;
  height: 13px;
  margin: 0px;
  padding: 0px;
  -webkit-appearance: none;
  appearance: inherit;
}
progress::-webkit-progress-bar {
  background: #f1f1f1;
}
progress::-webkit-progress-value {
  background: #00afae;
}
.modal {
  width: 500px;
  height: 280px;
  transition: 1s;
  background: #fff;
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  left: 0;
  right: 0;
  border: 1px solid #ddd;
  box-shadow: 0 0 20px #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal h2 {
  text-align: center;
  font-size: 30px;
  color: #777;
  margin-bottom: 50px;
}
.guest {
  padding: 16px 20px 15px;
  line-height: 14px;
  margin: 0 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #fff;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  box-sizing: border-box;
  min-width: 230px;
  transition: 1s;
}
.page404 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page404__back-to-main-btn {
  padding: 16px 20px 15px;
  line-height: 14px;
  margin: 0px 0px 100px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #fff;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  box-sizing: border-box;
  min-width: 230px;
  transition: 1s;
}
.page404__back-to-main-btn:hover {
  background: #00afae;
  color: #fff;
  box-shadow: 0 0 20px #999;
  border-color: #00afae;
}
.page404 img {
  height: 220px;
}
.fortepiano-field button:nth-child(3),
.fortepiano-field button:nth-child(5),
.fortepiano-field button:nth-child(8),
.fortepiano-field button:nth-child(10),
.fortepiano-field button:nth-child(12),
.fortepiano-field button:nth-child(15),
.fortepiano-field button:nth-child(17),
.fortepiano-field button:nth-child(20),
.fortepiano-field button:nth-child(22),
.fortepiano-field button:nth-child(24),
.fortepiano-field button:nth-child(27),
.fortepiano-field button:nth-child(29),
.fortepiano-field button:nth-child(32),
.fortepiano-field button:nth-child(34),
.fortepiano-field button:nth-child(36),
.fortepiano-field button:nth-child(39),
.fortepiano-field button:nth-child(41),
.fortepiano-field button:nth-child(44),
.fortepiano-field button:nth-child(46),
.fortepiano-field button:nth-child(48),
.fortepiano-field button:nth-child(51),
.fortepiano-field button:nth-child(53),
.fortepiano-field button:nth-child(56),
.fortepiano-field button:nth-child(58),
.fortepiano-field button:nth-child(60) {
  margin-left: -13px;
}
.ear-header__h2 {
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
  color: #555;
  margin-right: 40px;
  margin-bottom: 30px;
}
.ear-main_section {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.ear-section {
  padding: 20px 10px 10px;
  border: 1px solid #00afae;
  border-radius: 10px;
  box-shadow: 0 0 20px #ccc;
  text-align: center;
  width: 30%;
  flex: 0 0 30%;
  margin: 20px 1.6666666%;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  grid-template-areas:
      "a a a"
      "b c c";
}
.ear-training__btn {
  padding: 16px 10px 15px;
  line-height: 14px;
  margin: 0 10px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #fff;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  box-sizing: border-box;
  width: auto;
  transition: 1s;
}
.ear-training__btn:hover {
  background: #00afae;
  color: #fff;
  box-shadow: 0 0 20px #999;
  border-color: #00afae;
}
.ear-section__section-title {
  grid-area: a;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-size: 20px;
}
.ear-training__theory {
  grid-area: b;
}
.ear-training__game {
  grid-area: c;
}

.round-option {
  width: 20%;
  padding: 6px 5px 5px;
  line-height: 14px;
  margin: 0 2.5% 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #fff;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  font-weight: 600;
  font-size: 11px;
  box-sizing: border-box;
  transition: 1s;
  height: 100px;
}
.round-option:hover {
  background: #00afae;
  color: #fff;
  box-shadow: 0 0 20px #999;
  border-color: #00afae;
}
.round-option__round-title {
  margin-bottom: 7px;
  color: #00afae;
  transition: 1s;
}
.round-option:hover .round-option__round-title {
  color: #fff;
}
.round-option__round-direction {
  margin-bottom: 7px;
}
.round-option__round-count,.round-option__bestscore {
  color: #555;
  transition: 1s;
}
.round-option:hover .round-option__round-count, .round-option:hover .round-option__bestscore {
  color: #e0e0e0;
}
.ear-section__section-title span {
  color: #00afae;
}
.quiz-start-screen {
  text-align: center;
}
.quiz-header {
  margin: 0px 35px 0px 0px;
  letter-spacing: 2px;
  color: #999;
  text-transform: uppercase;
}
.quiz-start-screen__game-description {
  width: 50%;
  margin: 30px auto;
  padding: 10px 20px;
  background: #f1f1f1;
  border: 1px solid #ccc;
  line-height: 1.5;
  box-shadow: 0 0 20px #dedede;
  border-radius: 10px;
  font-style: italic;
}
.quiz-start-screen__quiz-name {
  margin: 0px 0px 10px 0px;
  font-size: 24px;
  letter-spacing: 1px;
  border-bottom: 1px solid;
  display: inline-flex;
  padding-bottom: 5px;
}
.quiz-start-screen__game-name {
  margin-left: 0px;
  font-size: 16px;
  font-weight: 300;
  color: #00afae;
  text-transform: uppercase;
}
.quiz-terms {
  display: grid;
  justify-content: center;
  grid-template-areas:
      "a a"
      "b c";
}
.quiz-terms p {
  margin: 0px 0px 15px 0px;
  letter-spacing: 2px;
  color: #999;
  text-transform: uppercase;
  grid-area: a;
}
.quiz-terms__description {
  padding: 16px 10px 15px;
  line-height: 14px;
  margin: 0 10px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #fff;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  box-sizing: border-box;
  width: auto;
  min-width: 200px;
  transition: 1s;
}
.quiz-terms__description:nth-child(1) {
  grid-area: b;
}
.quiz-terms__description:nth-child(2) {
  grid-area: c;
}
.quiz-start-screen {
  display: flex;
  flex-direction: column;
}
.quiz-start-screen__start-btn {
  padding: 16px 10px 15px;
  line-height: 14px;
  margin: 10px auto 0px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #00afae;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  box-sizing: border-box;
  width: 250px;
  transition: 1s;
 }
.quiz-terms__description:hover {
  box-shadow: 0 0 20px #999;
  border-color: #01d7d7;
}
.quiz-start-screen__start-btn:hover {
  background: #01d7d7;
  box-shadow: 0 0 20px #999;
  border-color: #01d7d7;
}
.quiz-header__quiz-name {
  margin: 0px 0px 10px 0px;
  font-size: 24px;
  letter-spacing: 1px;
  border-bottom: 1px solid;
  display: inline-flex;
  padding-bottom: 5px;
}
.quiz-header__game-name {
  margin-left: 0px;
  font-size: 16px;
  font-weight: 300;
  color: #00afae;
  text-transform: uppercase;
}
.quiz-header__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quiz-question {
  width: 50%;
  margin: 20px auto;
  padding: 10px 20px;
  background: #f7f7f7;
  border: 1px solid #ccc;
  line-height: 1.5;
  box-shadow: 0 0 20px #dedede;
  border-radius: 10px;
  text-align: center;
}
.quiz-answers__answer  {
  padding: 16px 10px 15px;
  line-height: 14px;
  margin: 0 10px 10px !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #fff;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  box-sizing: border-box;
  width: auto;
  min-width: 200px;
  transition: 1s;
}
.quiz-answers {
  margin-right: 10px;
  width: 50%;
  display: grid;
  grid-template-areas:
      "a b"
      "c d";
}
.quiz-answers__answer:hover {
  background: #00afae;
  color: #fff;
  box-shadow: 0 0 20px #999;
  border-color: #00afae;
}
.quiz-answers__music-repeat {
  padding: 10px 5px 9px;
  line-height: 1;
  margin: 0 10px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #fcffee;
  border: 3px solid #dedede;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  box-sizing: border-box;
  width: auto;
  min-width: 150px;
  transition: 1s;
}
.quiz-controls__button_skip {
  padding: 10px 5px 9px;
  line-height: 1;
  margin: 0 10px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #f1f1f1;
  border: 3px solid #dedede;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  box-sizing: border-box;
  width: auto;
  min-width: 150px;
  transition: 1s;
}
.quiz-controls__button_next {
  padding: 10px 5px 9px;
  line-height: 1;
  margin: 0 10px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #e2ffea;
  border: 3px solid #dedede;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  box-sizing: border-box;
  width: auto;
  min-width: 150px;
  transition: 1s;
}
.rhythm-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rhythm-section__section-title {
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
  color: #555;
  margin-right: 40px;
  margin-bottom: 30px;
}
.rhythm-section .training-btn {
  margin-right: 30px; width: 200px}
.piano__head_h2 {
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    color: #555;
    margin-right: 40px;
    margin-bottom: 30px;
}
.user-stats__header {
  text-align: center;
}
.user-stats__today-div {
  display: flex;
  color: #00afae;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 10px 20px 20px;
  line-height: 14px;
  margin: 0 auto 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #fff;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  font-weight: 600;
  font-size: 11px;
  box-sizing: border-box;
  transition: 1s;
}
.user-stats__today-sub-div {
  display: flex;
  flex-direction: row;
}
.user-stats__today-sub-div, .user-stats__today-sub-div, .user-stats__today-sub-div {
  margin-top: 10px;
}
.user-stats__header {
  margin-bottom: 20px;
}
.user-stats__all-time-div {
  left: 20px;
  color: #00afae;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 10px 20px 15px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f7f7f7;
  background: #f7f7f7;
  border: 3px solid #efefef;
  border-radius: 10px;
  font-weight: 600;
  font-size: 11px;
  box-sizing: border-box;
  transition: 1s;
}
.user-stats__total-sub-div {
  display: flex;
  flex-direction: row;
}
.user-stats__total-sub-div {
  margin-top: 20px;
}
.user-stats__today-sub-div p:first-child, .user-stats__total-sub-div p:first-child {
  width: 250px;
}
.user-stats__day-exercises-header:first-child, .user-stats__day-score-header, .user-stats__day-time-header, .user-stats__total-sub-div p:first-child {
  margin-right: 40px;
}
.user-stats__today-sub-div {
  margin-top: 20px;
}
.user-stats__today-sub-div p:nth-child(2), .user-stats__total-sub-div p:nth-child(2) {
  width: 100px;
}
.user-stats__total-sub-div p, .user-stats__today-div p {
  color: #333;
}
.user-settings__header {
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
  color: #555;
  margin-right: 40px;
  margin-bottom: 30px;
}
.user-settings__stats-settings {
display: flex;
flex-direction: column;
align-items: center;
width: 450px;
padding: 10px 20px 20px;
line-height: 14px;
margin: 0 auto 20px;
letter-spacing: 1px;
box-shadow: 0 0 10px #f1f1f1;
background: #fff;
border: 3px solid #f1f1f1;
border-radius: 10px;
font-weight: 600;
font-size: 11px;
box-sizing: border-box;
transition: 1s;
}
.user-settings__stats-header {
  color: #00afae;
  margin-bottom: 30px;
  letter-spacing: 1px;
  font-size: 20px;
}
.user-settings__stat-div, .user-settings__stat-div, .user-settings__stat-div {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  font-size: 14px;
}
.user-settings__stat-header {
  margin-right: 40px;
  line-height: 27px;
}
.user-settings__save-day-goals-btn, .user-settings__reset-stats-btn {
  padding: 8px 12px;
  line-height: 1;
  margin: 10px 0px 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #fff;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
  box-sizing: border-box;
  width: auto;
  transition: 1s;
}
.user-settings__save-day-goals-btn:hover {
  background: #00afae;
  color: #fff;
  box-shadow: 0 0 20px #999;
  border-color: #00afae;
}
.user-settings__reset-stats-btn:hover {
  background: #f1f1f1;
  box-shadow: 0 0 20px #999;
  border-color: #f1f1f1;
}
.user-settings__row {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.user-settings__stat-input {
  width: 70px;
  padding: 5px 10px;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  color: #777;
}
.user-settings__stat-header {
  width: 200px;
}
.quiz-end__h2 {
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
  color: #555;
  margin-right: 40px;
  margin-bottom: 30px;
}
.quiz__quiz-end-screen_result {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 450px;
  padding: 20px 20px 10px 50px;
  line-height: 14px;
  margin: 0 auto 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #fff;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  font-weight: 600;
  font-size: 11px;
  box-sizing: border-box;
  transition: 1s;
}
.quiz-end-screen__repeat {
  padding: 8px 12px;
  line-height: 1;
  margin: 0px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #fcffee;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
  box-sizing: border-box;
  width: 130px;
  transition: 1s;
}
.quiz-end-screen__continue {
  padding: 8px 12px;
  line-height: 1;
  margin: 0px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #fff;
  border: 3px solid #efefef;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
  box-sizing: border-box;
  width: 130px;
  transition: 1s;
}
.quiz-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.indicators__indicator-title {
  text-align: left;
  margin-bottom: 10px;
}
.quiz-answers__music-repeat:hover, .quiz-controls__button_skip:hover, .quiz-controls__button_next:hover {
  box-shadow: 0 0 20px #bbb;
}
@media (max-width: 1200px) {
  body {
    padding: 0px 20px;
  }
  .fortepiano-field {
    width: 100%;
  }
  .piano {
    width: 80%;
    overflow-x: scroll;
    display: -webkit-box;
  }
=======
@import "./general/reset";

@import "./general/font";

html {
  font-family: PFDinDisplayPro;
  box-sizing: border-box;
  font-size: 16px;
  background: url(../public/assets/img/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  height: 100vh;
}

.header {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  padding: 40px 0px 30px;
}

h1 {
  color: #00afae;
  font-size: 48px;
  letter-spacing: 2px;
  text-align: center;
}

button {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: left;
}

.animation {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: animation;
  animation-name: animation;
}
.piano {
  display: flex;
  margin: 30px auto 0px;
  height: 100%;
  width: 1160px;
  padding: 1.5em;
  position: relative;
  border: 1px solid #160801;
  border-radius: 1em;
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)), url(../public/assets/img/wood.jpg);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5) inset, 0 1px rgba(212, 152, 125, 0.2) inset, 0 5px 15px rgba(0, 0, 0, 0.5);

  button {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    float: left;
  }
}

button {
  &[black="false"] {
    height: 190px;
    width: 40px;
    font-size: 12px;
    padding-top: 150px;
    z-index: 1;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-radius: 0 0 5px 5px;
    box-shadow: (-1px) 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 5px #ccc inset, 0 0 3px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #eee 0%, #fff 100%);

    &:active {
      border-top: 1px solid #777;
      border-left: 1px solid #999;
      border-bottom: 1px solid #999;
      box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1) inset, (-5px) 5px 20px rgba(0, 0, 0, 0.2) inset, 0 0 3px rgba(0, 0, 0, 0.2);
      background: linear-gradient(to bottom, #fff 0%, #e9e9e9 100%);
    }
  }

  &[black="true"] {
    height: 110px;
    padding-top: 60px;
    color: #666;
    font-size: 12px;
    width: 25px;
    margin: 0 0 0 -1em;
    z-index: 2;
    border: 1px solid #000;
    border-radius: 0 0 3px 3px;
    box-shadow: (-1px) -1px 2px rgba(255, 255, 255, 0.2) inset, 0 -5px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg, #222 0%, #555 100%);

    &:active {
      box-shadow: (-1px) -1px 2px rgba(255, 255, 255, 0.2) inset, 0 -2px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
      background: linear-gradient(to right, #444 0%, #222 100%);
    }
  }
}

.piano button {
  &:first-child {
    border-radius: 5px 0 5px 5px;
  }

  &:last-child {
    border-radius: 0 5px 5px 5px;
  }
}

.input {
  margin: 0 auto;
  text-align: center;
}

.textarea {
  height: 100px;
  width: 24em;
}

a {
  color: #00afae;
}  
a:-webkit-any-link {
  color: #00afae;
}

footer p {
  text-align: center;
}

.main-menu {
  display: grid;
  justify-content: center;
  grid-template-areas: 
            "a a a"
            "b c d"
            "e f g";
}

.main-menu .main-menu__user-day-statistic {
  grid-area: a;
}
.main-menu .main-menu__interval-game-btn {
  grid-area: b;
}
.main-menu__fortepiano-btn {
  grid-area: c;
}
.main-menu .main-menu__fortepiano-btn {
  grid-area: d;
}
.main-menu__theory-btn {
  grid-area: e;
}
.main-menu__user-stats-btn {
  grid-area: f;
}
.main-menu__user-setting-btn {
  grid-area: g;
}
.main-menu button {
  padding: 16px 10px 15px;
  line-height: 14px;
  margin: 0 10px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #fff;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  box-sizing: border-box;
  width: 230px;
  transition: 1s;
}
.footer {
  position: absolute;
  bottom: 0;
  padding: 10px 0px;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
}

.field__back-btn {
  line-height: 1;
  margin: 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #fff;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  font-weight: 900;
  font-size: 20px;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding-bottom: 4px;
  transition: 1s;
}
.field__back-btn:hover {
  background: #00afae;
  color: #fff;
  box-shadow: 0 0 20px #999;
  border-color: #00afae;
}
.fortepiano-field {
  display: block;
}
.quiz-controls__question-indicator {
  margin-top: 10px;
}
.fortepiano-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer img {
  width: 60px;
  margin: 20px auto 0;
  display: block;
}

.main-menu__user-day-statistic {
  padding: 16px 20px 15px;
  line-height: 14px;
  margin: 0 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #fff;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  box-sizing: border-box;
  min-width: 200px;
  margin-bottom: 30px;
  text-align: center;
}
.user-day-statistic__title {
  color: #00afae;
  margin-bottom: 30px;
}
.user-day-statistic__exercises-counter, .user-day-statistic__score-counter, .user-day-statistic__time-counter {
  display: flex;
  justify-content: start;
  width: 500px;
  margin: 15px auto 10px;
}
.user-day-statistic__exercises-counter-number, .user-day-statistic__score-counter-number {
  width: 30px;
  text-align: left;
  margin-left: 20px;
}
.user-day-statistic__time-counter-number {
  width: 150px;
  text-align: left;
  margin-left: 20px;
}
.user-day-statistic__counters {
  padding-left: 50px;
}
.main-menu button img {
  height: 14px;
  margin-right: 5px;
  margin-top: -3px;
  transition: 1s;
}
.main-menu button:hover {
  background: #00afae;
  color: #fff;
  box-shadow: 0 0 20px #999;
  border-color: #00afae;
}

.guest:hover {
  background: #00afae;
  color: #fff;
  box-shadow: 0 0 20px #999;
  border-color: #00afae;
}

.closemodal {
  display: none !important;
}

.main-menu button:hover img {
  filter: invert(1);
}
.user-day-statistic__exercises-counter-title, .user-day-statistic__score-counter-title, .user-day-statistic__time-counter-title {
  width: 140px;
  text-align: left;
  margin-right: 15px;
}
.user-day-statistic__exercises-indicator-counter, .user-day-statistic__score-indicator-counter, .user-day-statistic__time-indicator-counter {
  width: 140px;
  height: 13px;
  margin: 0px;
  padding: 0px;
  -webkit-appearance: none;
  appearance: inherit;
}
progress::-webkit-progress-bar {
  background: #f1f1f1;
}
progress::-webkit-progress-value {
  background: #00afae;
}
.modal {
  width: 500px;
  height: 280px;
  transition: 1s;
  background: #fff;
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  left: 0;
  right: 0;
  border: 1px solid #ddd;
  box-shadow: 0 0 20px #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal h2 {
  text-align: center;
  font-size: 30px;
  color: #777;
  margin-bottom: 50px;
}
.guest {
  padding: 16px 20px 15px;
  line-height: 14px;
  margin: 0 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #fff;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  box-sizing: border-box;
  min-width: 230px;
  transition: 1s;
}
.page404 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page404__back-to-main-btn {
  padding: 16px 20px 15px;
  line-height: 14px;
  margin: 0px 0px 100px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #fff;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  box-sizing: border-box;
  min-width: 230px;
  transition: 1s;
}
.page404__back-to-main-btn:hover {
  background: #00afae;
  color: #fff;
  box-shadow: 0 0 20px #999;
  border-color: #00afae;
}
.page404 img {
  height: 220px;
}
.fortepiano-field button:nth-child(3),
.fortepiano-field button:nth-child(5),
.fortepiano-field button:nth-child(8),
.fortepiano-field button:nth-child(10),
.fortepiano-field button:nth-child(12),
.fortepiano-field button:nth-child(15),
.fortepiano-field button:nth-child(17),
.fortepiano-field button:nth-child(20),
.fortepiano-field button:nth-child(22),
.fortepiano-field button:nth-child(24),
.fortepiano-field button:nth-child(27),
.fortepiano-field button:nth-child(29),
.fortepiano-field button:nth-child(32),
.fortepiano-field button:nth-child(34),
.fortepiano-field button:nth-child(36),
.fortepiano-field button:nth-child(39),
.fortepiano-field button:nth-child(41),
.fortepiano-field button:nth-child(44),
.fortepiano-field button:nth-child(46),
.fortepiano-field button:nth-child(48),
.fortepiano-field button:nth-child(51),
.fortepiano-field button:nth-child(53),
.fortepiano-field button:nth-child(56),
.fortepiano-field button:nth-child(58),
.fortepiano-field button:nth-child(60) {
  margin-left: -13px;
}
.ear-header__h2 {
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
  color: #555;
  margin-right: 40px;
  margin-bottom: 30px;
}
.ear-main_section {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.ear-section {
  padding: 20px 10px 10px;
  border: 1px solid #00afae;
  border-radius: 10px;
  box-shadow: 0 0 20px #ccc;
  text-align: center;
  width: 30%;
  flex: 0 0 30%;
  margin: 20px 1.6666666%;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  grid-template-areas:
      "a a a"
      "b c c";
}
.ear-training__btn {
  padding: 16px 10px 15px;
  line-height: 14px;
  margin: 0 10px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #fff;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  box-sizing: border-box;
  width: auto;
  transition: 1s;
}
.ear-training__btn:hover {
  background: #00afae;
  color: #fff;
  box-shadow: 0 0 20px #999;
  border-color: #00afae;
}
.ear-section__section-title {
  grid-area: a;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-size: 20px;
}
.ear-training__theory {
  grid-area: b;
}
.ear-training__game {
  grid-area: c;
}

.round-option {
  width: 20%;
  padding: 6px 5px 5px;
  line-height: 14px;
  margin: 0 2.5% 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #fff;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  font-weight: 600;
  font-size: 11px;
  box-sizing: border-box;
  transition: 1s;
  height: 100px;
}
.round-option:hover {
  background: #00afae;
  color: #fff;
  box-shadow: 0 0 20px #999;
  border-color: #00afae;
}
.round-option__round-title {
  margin-bottom: 7px;
  color: #00afae;
  transition: 1s;
}
.round-option:hover .round-option__round-title {
  color: #fff;
}
.round-option__round-direction {
  margin-bottom: 7px;
}
.round-option__round-count,.round-option__bestscore {
  color: #555;
  transition: 1s;
}
.round-option:hover .round-option__round-count, .round-option:hover .round-option__bestscore {
  color: #e0e0e0;
}
.ear-section__section-title span {
  color: #00afae;
}
.quiz-start-screen {
  text-align: center;
}
.quiz-header {
  margin: 0px 35px 0px 0px;
  letter-spacing: 2px;
  color: #999;
  text-transform: uppercase;
}
.quiz-start-screen__game-description {
  width: 50%;
  margin: 30px auto;
  padding: 10px 20px;
  background: #f1f1f1;
  border: 1px solid #ccc;
  line-height: 1.5;
  box-shadow: 0 0 20px #dedede;
  border-radius: 10px;
  font-style: italic;
}
.quiz-start-screen__quiz-name {
  margin: 0px 0px 10px 0px;
  font-size: 24px;
  letter-spacing: 1px;
  border-bottom: 1px solid;
  display: inline-flex;
  padding-bottom: 5px;
}
.quiz-start-screen__game-name {
  margin-left: 0px;
  font-size: 16px;
  font-weight: 300;
  color: #00afae;
  text-transform: uppercase;
}
.quiz-terms {
  display: grid;
  justify-content: center;
  grid-template-areas:
      "a a"
      "b c";
}
.quiz-terms p {
  margin: 0px 0px 15px 0px;
  letter-spacing: 2px;
  color: #999;
  text-transform: uppercase;
  grid-area: a;
}
.quiz-terms__description {
  padding: 16px 10px 15px;
  line-height: 14px;
  margin: 0 10px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #fff;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  box-sizing: border-box;
  width: auto;
  min-width: 200px;
  transition: 1s;
}
.quiz-terms__description:nth-child(1) {
  grid-area: b;
}
.quiz-terms__description:nth-child(2) {
  grid-area: c;
}
.quiz-start-screen {
  display: flex;
  flex-direction: column;
}
.quiz-start-screen__start-btn {
  padding: 16px 10px 15px;
  line-height: 14px;
  margin: 10px auto 0px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #00afae;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  box-sizing: border-box;
  width: 250px;
  transition: 1s;
 }
.quiz-terms__description:hover {
  box-shadow: 0 0 20px #999;
  border-color: #01d7d7;
}
.quiz-start-screen__start-btn:hover {
  background: #01d7d7;
  box-shadow: 0 0 20px #999;
  border-color: #01d7d7;
}
.quiz-header__quiz-name {
  margin: 0px 0px 10px 0px;
  font-size: 24px;
  letter-spacing: 1px;
  border-bottom: 1px solid;
  display: inline-flex;
  padding-bottom: 5px;
}
.quiz-header__game-name {
  margin-left: 0px;
  font-size: 16px;
  font-weight: 300;
  color: #00afae;
  text-transform: uppercase;
}
.quiz-header__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quiz-question {
  width: 50%;
  margin: 20px auto;
  padding: 10px 20px;
  background: #f7f7f7;
  border: 1px solid #ccc;
  line-height: 1.5;
  box-shadow: 0 0 20px #dedede;
  border-radius: 10px;
  text-align: center;
}
.quiz-answers__answer  {
  padding: 16px 10px 15px;
  line-height: 14px;
  margin: 0 10px 10px !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #fff;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  box-sizing: border-box;
  width: auto;
  min-width: 200px;
  transition: 1s;
}
.quiz-answers {
  margin-right: 10px;
  width: 50%;
  display: grid;
  grid-template-areas:
      "a b"
      "c d";
}
.quiz-answers__answer:hover {
  background: #00afae;
  color: #fff;
  box-shadow: 0 0 20px #999;
  border-color: #00afae;
}
.quiz-answers__music-repeat {
  padding: 10px 5px 9px;
  line-height: 1;
  margin: 0 10px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #fcffee;
  border: 3px solid #dedede;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  box-sizing: border-box;
  width: auto;
  min-width: 150px;
  transition: 1s;
}
.quiz-controls__button_skip {
  padding: 10px 5px 9px;
  line-height: 1;
  margin: 0 10px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #f1f1f1;
  border: 3px solid #dedede;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  box-sizing: border-box;
  width: auto;
  min-width: 150px;
  transition: 1s;
}
.quiz-controls__button_next {
  padding: 10px 5px 9px;
  line-height: 1;
  margin: 0 10px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #e2ffea;
  border: 3px solid #dedede;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  box-sizing: border-box;
  width: auto;
  min-width: 150px;
  transition: 1s;
}
.rhythm-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rhythm-section__section-title {
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
  color: #555;
  margin-right: 40px;
  margin-bottom: 30px;
}
.rhythm-section .training-btn {
  margin-right: 30px; width: 200px}
.piano__head_h2 {
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    color: #555;
    margin-right: 40px;
    margin-bottom: 30px;
}
.user-stats__header {
  text-align: center;
}
.user-stats__today-div {
  display: flex;
  color: #00afae;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 10px 20px 20px;
  line-height: 14px;
  margin: 0 auto 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #fff;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  font-weight: 600;
  font-size: 11px;
  box-sizing: border-box;
  transition: 1s;
}
.user-stats__today-sub-div {
  display: flex;
  flex-direction: row;
}
.user-stats__today-sub-div, .user-stats__today-sub-div, .user-stats__today-sub-div {
  margin-top: 10px;
}
.user-stats__header {
  margin-bottom: 20px;
}
.user-stats__all-time-div {
  left: 20px;
  color: #00afae;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  padding: 10px 20px 15px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f7f7f7;
  background: #f7f7f7;
  border: 3px solid #efefef;
  border-radius: 10px;
  font-weight: 600;
  font-size: 11px;
  box-sizing: border-box;
  transition: 1s;
}
.user-stats__total-sub-div {
  display: flex;
  flex-direction: row;
}
.user-stats__total-sub-div {
  margin-top: 20px;
}
.user-stats__today-sub-div p:first-child, .user-stats__total-sub-div p:first-child {
  width: 250px;
}
.user-stats__day-exercises-header:first-child, .user-stats__day-score-header, .user-stats__day-time-header, .user-stats__total-sub-div p:first-child {
  margin-right: 40px;
}
.user-stats__today-sub-div {
  margin-top: 20px;
}
.user-stats__today-sub-div p:nth-child(2), .user-stats__total-sub-div p:nth-child(2) {
  width: 100px;
}
.user-stats__total-sub-div p, .user-stats__today-div p {
  color: #333;
}
.user-settings__header {
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
  color: #555;
  margin-right: 40px;
  margin-bottom: 30px;
}
.user-settings__stats-settings {
display: flex;
flex-direction: column;
align-items: center;
width: 450px;
padding: 10px 20px 20px;
line-height: 14px;
margin: 0 auto 20px;
letter-spacing: 1px;
box-shadow: 0 0 10px #f1f1f1;
background: #fff;
border: 3px solid #f1f1f1;
border-radius: 10px;
font-weight: 600;
font-size: 11px;
box-sizing: border-box;
transition: 1s;
}
.user-settings__stats-header {
  color: #00afae;
  margin-bottom: 30px;
  letter-spacing: 1px;
  font-size: 20px;
}
.user-settings__stat-div, .user-settings__stat-div, .user-settings__stat-div {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  font-size: 14px;
}
.user-settings__stat-header {
  margin-right: 40px;
  line-height: 27px;
}
.user-settings__save-day-goals-btn, .user-settings__reset-stats-btn {
  padding: 8px 12px;
  line-height: 1;
  margin: 10px 0px 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #fff;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
  box-sizing: border-box;
  width: auto;
  transition: 1s;
}
.user-settings__save-day-goals-btn:hover {
  background: #00afae;
  color: #fff;
  box-shadow: 0 0 20px #999;
  border-color: #00afae;
}
.user-settings__reset-stats-btn:hover {
  background: #f1f1f1;
  box-shadow: 0 0 20px #999;
  border-color: #f1f1f1;
}
.user-settings__row {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.user-settings__stat-input {
  width: 70px;
  padding: 5px 10px;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  color: #777;
}
.user-settings__stat-header {
  width: 200px;
}
.quiz-end__h2 {
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
  color: #555;
  margin-right: 40px;
  margin-bottom: 30px;
}
.quiz__quiz-end-screen_result {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 450px;
  padding: 20px 20px 10px 50px;
  line-height: 14px;
  margin: 0 auto 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #fff;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  font-weight: 600;
  font-size: 11px;
  box-sizing: border-box;
  transition: 1s;
}
.quiz-end-screen__repeat {
  padding: 8px 12px;
  line-height: 1;
  margin: 0px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #fcffee;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
  box-sizing: border-box;
  width: 130px;
  transition: 1s;
}
.quiz-end-screen__continue {
  padding: 8px 12px;
  line-height: 1;
  margin: 0px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #f1f1f1;
  background: #fff;
  border: 3px solid #efefef;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
  box-sizing: border-box;
  width: 130px;
  transition: 1s;
}
.quiz-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.indicators__indicator-title {
  text-align: left;
  margin-bottom: 10px;
}
.quiz-answers__music-repeat:hover, .quiz-controls__button_skip:hover, .quiz-controls__button_next:hover {
  box-shadow: 0 0 20px #bbb;
}
@media (max-width: 1200px) {
  body {
    padding: 0px 20px;
  }
  .fortepiano-field {
    width: 100%;
  }
  .piano {
    width: 80%;
    overflow-x: scroll;
    display: -webkit-box;
  }
>>>>>>> 4f64a8904822230d4e6cb82c36da58ebc48cf6dd
}